@{
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";
    ViewBag.Title = "My Account";
}
@using Himall.Core;
@model Himall.Model.UserCenterModel
<link href="~/Areas/Web/Content/home.css" rel="stylesheet" />

    <div class="box1" overflow-y:scroll>
        <div class="home-box cl">

            <div class="user-info">
                @if (String.IsNullOrEmpty(ViewBag.Logo))
                {
                    <img src="/Areas/Web/images/avatar.png" />
                }
                else
                {
                    <img src="@ViewBag.Logo" />
                }
                <p class="user-name">@ViewBag.UserName<span>(@Model.GradeName)</span></p>
                @if (Model.memberAccountSafety.AccountSafetyLevel == 1)
                {
                    <p class="user-secu"><a href="AccountSafety">Security：<progress value="33" max="100"></progress><span>Weak</span></a></p>
                }
                else if (Model.memberAccountSafety.AccountSafetyLevel == 4)
                {
                    <p class="user-secu"> <a href="AccountSafety">Security：<progress value="100" max="100"></progress><span>Strong</span></a></p>
                }
                else
                {
                    <p class="user-secu"><a href="AccountSafety">Security：<progress value="66" max="100"></progress><span>Medium</span></a></p>
                }
                <p class="test-icon">
                    @foreach (var messagePlugin in @ViewBag.BindContactInfo)
                    {
                        var info = messagePlugin.PluginId.IndexOf("SMS") > 0 ? "mobile" : "email";
                        if (messagePlugin.IsBind)
                        {
                            <a href="/UserInfo" title="@{@messagePlugin.ShortName}Authenticated"><i class="ident-@info active"></i></a>

                        }
                        else if (@messagePlugin.IsSettingsValid)
                        {
                            <a href="/UserCenter/Bind?pluginId=@(messagePlugin.PluginId)" title="@{@messagePlugin.ShortName}authenticate"><i class="ident-@info"></i></a>
                        }
                    }

                </p>

            </div>
         
            <ul class="user-manage manage-2">
                <li><a href="@Url.Action("index", "userintegral")"><i class="icon5"></i><p>Points:<span>@(Model.Intergral)</span></p></a></li>
                <li><a href="@Url.Action("index", "usercoupon")"><i class="icon6"></i><p>Coupons:<span>@(Model.UserCoupon)</span></p></a></li>
                <li><a href="@Url.Action("Index", "usercapital")"><i class="icon7"></i><p>Balance:<span>@(ViewBag.Balance)</span></p></a></li>
            </ul>
        </div>

        <div class="list-mod cl">
            <div class="home-box1">
                <ul class="user-manage">
                    <li><a href="@Url.Action("index", "UserOrder" , new { orderstatus=(int)Himall.Model.OrderInfo.OrderOperateStatus.WaitPay })"><i class="icon1"></i><p>Wait Pay:<span>@Model.WaitPayOrders</span></p></a></li>
                    <li><a href="@Url.Action("index", "UserOrder" , new { orderstatus=(int)Himall.Model.OrderInfo.OrderOperateStatus.WaitReceiving })"><i class="icon2"></i><p>Wait Receive<span>@Model.WaitReceivingOrders</span></p></a></li>
                    <li><a href="@Url.Action("satisfied", "OrderEvaluation" )"><i class="icon3"></i><p>Wait Evaluate:<span>@Model.WaitEvaluationOrders</span></p></a></li>
                    <li><a href="@Url.Action("List", "orderrefund")"><i class="icon4"></i><p>After-Sales:<span>@Model.RefundCount</span></p></a></li>
                </ul>
            </div>

                @{var showFollwProducts = Model.FollwProducts.Count > 0 ? "" : "empty-show";}
                <div class="home-box ms-myfav @showFollwProducts">
                    <h3><a href="/productConcern/">My Wishlist Products</a><a href="/productConcern/index" class="more">More..</a></h3>
                    <ul>
                        @foreach (var p in Model.FollwProducts)
                        {
                            <li>
                                <a href="@Url.Action("detail", "Product" , new { id=@p.ProductId})" title="@p.ProductName" target="_blank">
                                    <img width="90" height="90" src="@p.ImagePath/1_100.png" />
                                    <i>Shop Now</i>
                                </a>
                                <p><a>@p.ProductName</a></p>
                            </li>
                        }
                    </ul>
                </div>
                @{var showFollowShops = Model.FollowShopsCount > 0 ? "" : "empty-show";}
                <div class="home-box ms-myfavShop @showFollowShops">
                    <h3><a href="/shopConcern">My Wishlist Shops</a><a href="/shopConcern/Index" class="more">More..</a></h3>
                    <ul>
                        @foreach (var shop in Model.FollowShops)
                        {
                            <li>
                                <a href="@Url.Action("home", "shop" , new { id=@shop.ShopID})" target="_blank">
                                    <img width="90" height="90" src="@shop.Logo" />
                                    <i>Go</i>
                                </a>
                                <p><a href="@Url.Action("home", "shop" , new { id=@shop.ShopID})" target="_blank">@shop.ShopName</a></p>
                            </li>

                        }
                    </ul>
                </div>

                @{var showUnEvaluatProducts = @Model.FollowShopCartsCount > 0 ? "" : "empty-show";}
                <div class="home-box ms-mycomment @showUnEvaluatProducts">
                    <h3><a target="_blank" href="@Url.Action("cart", "Cart" )">Shopping Cart</a><a href="@Url.Action("cart", "Cart" )" target="_blank" class="more">View</a></h3>
                    <ul>
                        @foreach (var p in @Model.FollowShopCarts)
                        {
                            <li>
                                <a title="@p.ProductName" href="@Url.Action("cart", "Cart" )" target="_blank">
                                    <img width="90" height="90" src="@p.ImagePath/1_100.png" />
                                    <i></i>
                                </a>
                                <p><a href="@Url.Action("detail", "Product" , new { id=@p.ProductId })" target="_blank"><span>@p.ProductName</span></a></p>
                            </li>
                        }
                    </ul>
                </div>

                @{var showBrowsingProducts = ViewBag.BrowsingProducts.Count > 0 ? "" : "empty-show";}
                <div class="home-box ms-myhistory @showBrowsingProducts">
                    <h3><a href="#">Viewed Products</a></h3>
                    <ul>
                        @foreach (var p in ViewBag.BrowsingProducts)
                        {
                            <li>
                                <a href="@Url.Action("detail", "Product" , new { id=@p.ProductId })" title="@p.ProductName" target="_blank">
                                    <img width="90" height="90" src="@p.ImagePath/1_100.png" />
                                    <i>Shop Now</i>
                                </a>
                                <p><a href="@Url.Action("detail", "Product" , new { id=@p.ProductId })" target="_blank"><span>@p.ProductName</span></a></p>
                            </li>
                        }
                    </ul>
                </div>

                <div class="home-box ms-recommend">
                    <h3><a href="#">Recommend Products</a></h3>
                    <ul>
                        @if (ViewBag.Top3RecommendProducts != null)
                        {
                            foreach (var p in ViewBag.Top3RecommendProducts)
                            {
                                <li>
                                    <a title="@p.ProductName" href="@Url.Action("detail", "Product" , new { id=@p.Id})" target="_blank">
                                        <img width="90" height="90" src="@p.ImagePath/1_100.png" />
                                        <i>Shop Now</i>
                                    </a>
                                    <p><a href="@Url.Action("detail", "Product" , new { id=@p.Id})" target="_blank"><span>@p.ProductName</span></a></p>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
    </div>
