@model Himall.Web.Areas.SellerAdmin.Models.LimitTimeMarketModel

@{
    ViewBag.Title = "AddLimitItem";
}


<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    $(function () {
        $("#Title").focus();
        $("#Title").val('Limit time discounts');
        $(".start_datetime").val('@DateTime.Now.ToString("yyyy-MM-dd")');

        $(".start_datetime").datetimepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true,
            weekStart: 1,
            minView: 0
        });
        $(".end_datetime").datetimepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true,
            weekStart: 1,
            minView: 0
        });
        $('.end_datetime').datetimepicker('setEndDate', "@ViewBag.EndTime");
        $('.end_datetime').datetimepicker('setStartDate', $(".start_datetime").val());
        $('.start_datetime').datetimepicker('setStartDate', $(".start_datetime").val());
        $('.start_datetime').datetimepicker('setEndDate', "@ViewBag.EndTime");
        //$(".start_datetime").click(function () {
        //    $('.end_datetime').datetimepicker('show');
        //});
        //$(".end_datetime").click(function () {
        //    $('.start_datetime').datetimepicker('show');
        //});

        $('.start_datetime').on('changeDate', function () {
            if ($(".end_datetime").val()) {
                if ($(".start_datetime").val() > $(".end_datetime").val()) {
                    $('.end_datetime').val($(".start_datetime").val());
                }
            }

            $('.end_datetime').datetimepicker('setStartDate', $(".start_datetime").val());
            //alert($(".start_datetime").val());
        });
        $('.end_datetime').on('changeDate', function () {
            $('.start_datetime').datetimepicker('setEndDate', $(".end_datetime").val());
        });


    });
</script>
<script src="~/Scripts/v.js"></script>
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>Limit Time Buy</strong>
        <li><a href="./Management">Activity Management</a></li>
        <li class="active"><a>Add Limit Item</a></li>
        <li class=""><a href="./BuyService">Buy services</a></li>
        <em class="primary-btn">
            <span class="glyphicon glyphicon-question-sign"></span>
            <div class="primary">
                <h3>温馨提示：</h3>
                <span>*</span><p>显示店铺已经申请的限时购活动列表</p>
            </div>
        </em>
    </ul>
    @using (Html.BeginForm("AddLimitItem", "LimitTimeBuy", FormMethod.Post, new { id = "form1" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for=""><b style="color:red;">*</b>Activity title:</label>
                <div class="col-sm-3">@Html.EditorFor(item => item.Title, new { htmlAttributes = new { @class = "form-control input-sm" } }) </div>
                <div class="col-sm-5"><span class="help-default">The title is an alias for seller activity limited-time discounts item.</span></div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for=""><b style="color:red;">*</b>Activity products:</label>
                <div class="col-sm-3">@Html.EditorFor(item => item.ProductName, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })</div>
                <div class="col-sm-3"><a class="btn btn-primary btn-sm" id="SelectProduct"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Select product</a></div>
                <input type="hidden" id="ProductId" name="ProductId" value="" />
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for=""><b style="color:red;">*</b>Original price:</label>
                <div class="col-sm-3">@Html.EditorFor(item => item.ProductPrice, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })</div>
                <div class="col-sm-5"><span class="help-default">After selecting the product, it will be automatically populated.</span></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for=""><b style="color:red;">*</b>Discounted price:</label>
                <div class="col-sm-3">@Html.EditorFor(item => item.Price, new { htmlAttributes = new { @class = "form-control input-sm" } })</div>
                <div class="col-sm-5"><span class="help-default">The discounted price must be lower than the original purchase price; in the active period, commodity prices can not be modified.</span></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for=""><b style="color:red;">*</b>Activity categories:</label>
                <div class="col-sm-3">@Html.GenerateSelectHtml((List<SelectListItem>)ViewBag.Cate, "CategoryName")</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for=""><b style="color:red;">*</b>Start time:</label>
                <div class="col-sm-3">@Html.EditorFor(item => item.StartTime, new { htmlAttributes = new { @class = "form-control input-sm start_datetime" } })</div>
                <div class="col-sm-5"><span class="help-default">Start time is later than the current time plus two days.</span></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for=""><b style="color:red;">*</b>Finish time:</label>
                <div class="col-sm-3">@Html.EditorFor(item => item.EndTime, new { htmlAttributes = new { @class = "form-control input-sm end_datetime"} })</div>
                <div class="col-sm-5"><span class="help-default">Finish time must be later than the start time.</span></div>
            </div>
            @*@if (Model != null)
    {
        <div class="form-group">
            <label class="col-sm-2 control-label" for=""><b style="color:red;">*</b>Storage capacity:</label>
            <div class="col-sm-3">@Html.EditorFor(item => item.Stock, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })</div>
        </div>
    }
    else
    {
    <div class="form-group">
        <label class="col-sm-2 control-label" for=""><b style="color:red;">*</b>Storage capacity:</label>
        <div class="col-sm-3">@Html.EditorFor(item => item.Stock, new { htmlAttributes = new { @class = "form-control input-sm" } })</div>
    </div>
    }*@
            @Html.HiddenFor(item => item.Stock, new { htmlAttributes = new { @class = "form-control input-sm" } })
            <div class="form-group">
                <label class="col-sm-2 control-label" for=""><b style="color:red;">*</b>Purchase restrictions:</label>
                <div class="col-sm-3">@Html.EditorFor(item => item.MaxSaleCount, new { htmlAttributes = new { @class = "form-control input-sm" } })</div>
                <div class="col-sm-5"><span class="help-default">Single individuals to buy the largest number.</span></div>
            </div>
            <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
                	<button type="submit" class="btn btn-primary">Save</button><label class="label-inline" for=""><a href="./Management">Return</a></label>
				</div>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery.himallLinkage.nocreate.js"></script>
<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Scripts/jquery.productSelector.js"></script>
<script>
    $(function () {
        $("#SelectProduct").click(function () {
            $.productSelector.show(null, function (selectedProducts) {
                console.log(selectedProducts);
                $("#ProductId").val(selectedProducts[0].id);
                $("#ProductName").val(selectedProducts[0].name);
                $("#ProductPrice").val(selectedProducts[0].price);
            }, 'selleradmin', false);
        });
    });
    var a = v({
        form: 'form1',
        ajaxSubmit: true,
        beforeSubmit: function () {
            loadingobj = showLoading();
        },
        afterSubmit: function (d) {// 表单提交成功回调
            loadingobj.close();
            if (d.success) {
                $.dialog.succeedTips("Save successfully!", function () {
                    window.location.href="@Url.Action("Management")";
                }, 0.5);
            } else {
                $.dialog.errorTips(d.msg, null, 1);
            }
        }
    });
    a.add(
        {
            target: 'Title',
            empty: true,
            ruleType: 'required',// v.js规则验证
            error: 'Please fill in the activity title'
        },
        {
            target: 'ProductName',
            empty: true,
            ruleType: 'required',// v.js规则验证
            error: 'Please select product'
        }, {
            target: 'Price',
            empty: true,
            ruleType: 'money',// v.js规则验证
            fnRule: function () {
                var a = $('#ProductPrice').val(),
                      b = $('#Price').val();
                try {
                    a = parseFloat(a);
                } catch (ex) {
                    a = 0;
                }
                try {
                    b = parseFloat(b);
                } catch (ex) {
                    b = 0;
                }
                if (b >= a || b<0 || a<0) {
                    return false;
                }
            },
            error: 'Only digits, and greater than 0.'
        }, {
            target: 'StartTime',
            ruleType: 'required',// v.js规则验证
            error: 'Please select the activity\'s start time'
        }, {
            target: 'EndTime',
            ruleType: 'required',// v.js规则验证
            error: 'Please select the activity\'s finish time'
        }, {
            target: 'MaxSaleCount',
            empty: true,
            ruleType: 'uint&&(value>0)',// v.js规则验证
            error: 'The max sale count can only be digits, and greater than 0.'
        });



</script>

