
@model Himall.Model.WithDrawInfo
@{
    ViewBag.Title = "AddWithDraw";
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";
}
<div class="box1 lh24">
    <div class="title bot-border">
        <h3 class="title_txt cur">@(Model.Id > 0 ? "Edit WithDraw Type" : "Add WithDraw Type") </h3>
    </div>
    <form class="form-horizontal" role="form">

        <div class="border-box">
            <div class="user-set userset-lcol">
                <div class="form">
                    <div class="item">
                        <span class="label">WithDraw Type：</span>
                        <div class="fl">
                            @Html.DropDownListFor(m => m.WithdrawType, ViewData["list"] as IEnumerable<SelectListItem>, "---Please Select---", new { @class = "sele" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(m => m.WithdrawType, "", new { @class = "help-default cor-red" })
                        </div>
                    </div>
                    <div class="item">
                        <span class="label">Account Number：</span>
                        <div class="fl">
                            @Html.TextBoxFor(m => m.AccountNumber, new { @class = "itxt", maxlength = 50 })
                            
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(m => m.AccountNumber, "", new { @class = "help-default cor-red" })
                        </div>
                    </div>
                    <div class="item">
                        <span class="label">Name：</span>
                        <div class="fl">
                            @Html.TextBoxFor(m => m.Name, new { @class = "itxt", maxlength = 50 })
                            
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "help-default cor-red" })
                        </div>
                    </div>
                    <div class="item">
                        <span class="label">ID Card：</span>
                        <div class="fl">
                            @Html.TextBoxFor(m => m.IdNo, new { @class = "itxt", maxlength = 50 })
                            <span class="error-msg hide" id="IdNoNote">Please enter ID Card Number</span>
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(m => m.IdNo, "", new { @class = "help-default cor-red" })
                        </div>
                    </div>
                    <div class="item">
                        <span class="label">Mobile：</span>
                        <div class="fl">
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "itxt", maxlength = 50 })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "help-default cor-red" })
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.Id)
                    <div class="item">
                        <span class="label">&nbsp;</span>
                        <div class="fl">
                            <button type="button" class="btn-5" id="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
</div>

<script>
    $(function () {
        $("#AccountNumber").focus();
    });
    function bindSubmitClickEvent() {
        var form = $('form');
        $('#submit').click(function () {
            if (form.valid()) {
                var loading = showLoading();
                $.post('AddWithDraw', form.serialize(), function (result) {
                    loading.close();
                    if (result.success) {
                        $.dialog.tips('Save Success', function () {
                            location.href = '@Url.Action("index", "WithDraw", new { area = "web" })';
                        });
                    }
                    else
                        $.dialog.errorTips('Save Failed!' + result.msg);
                })
            }
        });
    }


    $(function () {
        bindSubmitClickEvent();


    })
   
</script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

