@{
    ViewBag.Title = "WithDraw Type List";
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";
}
@model IEnumerable<Himall.Model.WithDrawInfo>
<link href="~/Areas/Web/Content/base.css" rel="stylesheet" />
<link href="~/Areas/Web/Content/myjd.easebuy.css" rel="stylesheet" />
<script src="~/Areas/Web/Scripts/WithDraw.js"></script>

<div class="box1 lh24">
    <div class="title bot-border">
        <h3 class="title_txt cur">WithDraw Type Manage</h3>
         </div>
    
    <div class="border-box">
        <div class="mod lh24">
            <div class="pd10">
                <a href="/withdraw/AddWithDraw" class="e-btn add-btn btn-5">Add a New WithDraw Type</a>
            </div>
            <div class="border-box">

                <table class="tb-void tb-goods" id="list">
                    <thead style="height:20px;">
                        <tr>
                            <th>WithDraw Type</th>
                            <th>Account Number</th>
                            <th>Name</th>
                            <th>ID Card</th>
                            <th>Mobile</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var withDrawInfo in Model)
                        {
                             <tr>
                                 <td>@withDrawInfo.WithdrawType</td>
                                 <td>@withDrawInfo.AccountNumber</td>
                                 <td>@withDrawInfo.Name</td>
                                 <td>@withDrawInfo.IdNo</td>
                                 <td>@withDrawInfo.Mobile</td>
                                 <td>
                                     <span class="btn-a">
                                         <a href="/withdraw/addwithdraw?id=@withDrawInfo.Id">Edit</a>
                                         <a onclick="del(@withDrawInfo.Id,'this withdraw type')">Delete</a>
                                     </span></td>
                             </tr>
                        }
                    </tbody>
                    </table>
            </div>
            </div>
        </div>
    </div>
<script>

    function del(id, name) {
        $.dialog.confirm('Are you sure to delete' + name + ' ？', function () {
            var loading = showLoading();
            $.post('/withdraw/DeleteWithDraw', { id: id }, function (result) {
                loading.close();
                if (result.success)
                    $.dialog.succeedTips('Delete Success!', function () { location.href = location.href });
                else
                    $.dialog.errorTips('Delete Failed！' + result.msg);
            });
        });
    }

</script>