@{
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";
    ViewBag.Title = "Satisfaction Rating";
}
@model IEnumerable<Himall.Model.OrderInfo>

<div class="box1 lh24">
            <div class="title">
            	<span class="title_txt"><a href="@Url.Action("index", "UserComment")">Product Evaluation</a></span>
                <span class="title_txt cur">Satisfaction Rating</span>
            </div>
            <div class="border-box">
                <table class="tb-void">
                    <colgroup>
                        <col width="290">
                        <col width="90">
                        <col width="110">
                    </colgroup>
                    <tr class="tr">
                        <th>OrderId</th>
                        <th>Evaluate Time</th>
                        <th>Evaluate</th>
                    </tr>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr><td colspan="3"><div class="empty"><b></b>No Records！</div></td></tr>
                        }
                        @foreach (var m in Model.ToArray())
                        {
                            <tr class="tr-td">
                                <td>
                                    @*<a target="_blank" href="@Url.Action("index", new { id=@m.Id})">*@
                                    <a  href="@Url.Action("Index", "OrderEvaluation", new { id = @m.Id })">
                                        @m.Id
                                    </a>
                                </td>
                                @{
                            var comment = m.OrderCommentInfo.FirstOrDefault();
                            if (comment != null)
                            {
                                <td>
                                    <span class="ftx-03">
                                        @comment.CommentDate
                                    </span>
                                </td>
                                    <td class="td-122">
                                        @{var mark = (comment.PackMark + comment.ServiceMark + comment.DeliveryMark) / 3; }
                                        <span class="star sa@{@mark}"></span>
                                    </td>
                            }
                            else
                            {
                                <td>
                                    <span class="ftx-03">
                                        --
                                    </span>
                                </td>
                                    <td class="td-01">
                                        <a href="@Url.Action("index", new { id=@m.Id})">Evaluate</a>
                                    </td>
                            }}
                            </tr>
                        }

                    </tbody>
                </table>
				<div class="mt10">
					<div id="pagin-btm" class="pagin fr" style="clear:both">
						@{
							var count = ((PagingInfo)ViewBag.pageInfo).TotalPages;
							var curr = ((PagingInfo)ViewBag.pageInfo).CurrentPage;
						}
						@Html.PageLinks((PagingInfo)ViewBag.pageInfo, x => Url.Action("Satisfied", new { pageNo = x }))
					</div>
					<div class="clr"></div>
				</div>
            </div>
			
        </div>
   

