@model Himall.Web.Areas.SellerAdmin.Models.ProductDescriptionTemplateModel
<script src="~/Scripts/ueditor/ueditor.config.js"></script>
<script src="~/Scripts/ueditor/ueditor.all.min.js"></script>
<script src="~/Areas/SellerAdmin/Scripts/addProductDesctiptionTemplate.js"></script>

<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>Related format</strong>
        <li><a href="management">Management</a></li>
        <li class="active"><a>Add</a></li>
    </ul>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><span class="red">*</span>Name:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-sm" name="name" value="@Model.Name" />
            </div>
            <div class="col-sm-4"><span class="field-validation-error" id="nameTip"></span></div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">Location:</label>
            <div class="col-sm-9">
                <label><input type="radio" value="1" name="position" @(Model.Position == 1 ? "checked" : "") />top</label>
                <label><input type="radio" value="2" name="position" @(Model.Position==2?"checked":"") />bottom</label>
                <span class="help-default">If you select 'top',it will display on the top of products' details.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><span class="red">*</span>Format content:</label>
            <div class="col-sm-9">
                <textarea id="contentContainer" name="htmlContent">
                    @Model.HtmlContent
                </textarea>
            </div>
        </div>
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        
    </form>
</div>
<script>
    $(function(){
        $('input[name="name"]').blur(function () {
            var name = $.trim($('input[name="name"]').val());
            var reg = /^[a-zA-Z0-9\u4e00-\u9fa5]+$/;
            if (!name) {
                $("#nameTip").text("Please input the related format's name");
                $('input[name="name"]').css({ border: '1px solid #f60' });
                $('input[name="name"]').focus();
                return false;
            }
            if (reg.test(name) == false) {
                $("#nameTip").text("Names must be composed of Chinese, letters or numbers");
                $('input[name="name"]').css({ border: '1px solid #f60' });
                $('input[name="name"]').focus();
                return false;
            }
            
            if (name.length > 30) {
                $("#nameTip").text("Name cannot exceed 30 characters!");
                $('input[name="name"]').css({ border: '1px solid #f60' });
                $('input[name="name"]').focus();
                return false;
            }
            else {
                $("#nameTip").text("");
                $('input[name="name"]').css({ border: '1px solid #ccc' });
            }
        })
    })
</script>
