@{
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";
    ViewBag.Title = "Complaint list";
}
@model  IEnumerable<Himall.Model.OrderComplaintInfo>
@using Himall.Core;

<div class="box1 lh24">
    <div class="title">
        <span class="title_txt"><a href="@Url.Action("Index")">Order Complain</a></span>
        <span class="title_txt curr">Complaint Records</span>
    </div>
    <div class="border-box">
        <table class="tb-void tb-back">
            <colgroup>
                <col width="350" />
                <col width="100" />
                <col width="80" />
                <col width="120" />
                <col width="100" />
                <col width="100" />
            </colgroup>
            <thead>
                <tr class="tr">
                    <th>Complaint Content</th>
                    <th>Tel</th>
                    <th>OrderId</th>
                    <th>Complain Date</th>
                    <th>Status</th>
                    <th>Operator</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr><td colspan="6"><div class="empty"><b></b>No Records</div></td></tr>
                }
                @foreach (var m in Model)
                {
                    <tr class="tr-td">
                        <td><span class="col-blue" title="@m.ComplaintReason" style="height:18px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; width:350px">@m.ComplaintReason</span></td>
                        <td><span class="col-blue">@m.UserPhone</span></td>
                        <td>@m.OrderId</td>
                        <td>@m.ComplaintDate</td>
                        <td>@m.Status.ToDescription()</td>
                        <td>
                            <span style="display:none">@m.SellerReply</span>
                            @if (m.Status == Himall.Model.OrderComplaintInfo.ComplaintStatus.WaitDeal)
                            {
                                <a cid="@m.Id" deal="cancel" class="complain-btn">Cancel</a>
                            }
                            else if (m.Status == Himall.Model.OrderComplaintInfo.ComplaintStatus.Dealed)
                            {
                                <a cid="@m.Id" deal="ok" class="complain-btn">Ok</a>
                            }
                            @if (m.Status == Himall.Model.OrderComplaintInfo.ComplaintStatus.Dealed || m.ComplaintDate.AddDays(1) < DateTime.Now && m.Status == Himall.Model.OrderComplaintInfo.ComplaintStatus.WaitDeal)
                            {
                                <a cid="@m.Id" deal="bad" class="complain-btn">Bad</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
		<div class="mt10">
			<div id="pagin-btm" class="pagin fr" style="clear:both">
				@{
					var count = ((PagingInfo)ViewBag.pageInfo).TotalPages;
					var curr = ((PagingInfo)ViewBag.pageInfo).CurrentPage;
				}
				@Html.PageLinks((PagingInfo)ViewBag.pageInfo, x => Url.Action("Record", new { pageNo = x }))
				<span class="page-skip">
					<em>Pages of @count</em>
				</span>
			</div>
			<div class="clr"></div>
		</div>
    </div>
    

</div>
<script type="text/javascript">
    var currentId = 0;
    $(function () {
        $('.complain-btn').click(function () {
            currentId = $(this).attr("cid");
            var type = $(this).attr("deal");
            var replyContent = $(this).parent().find("span").html();
            switch (type) {
                case "cancel":
                    $.dialog.confirm("Cancel Complaint！", function () { DealComplaint() });
                    break;
                case "ok":
                    $.dialog({
                        title: 'Satisfy Deal Result',
                        lock: true,
                        width: 400,
                        id: 'Agree',
                        content: '<p class="ftx03">Seller Reply：' + replyContent + '</p><br>Do you satisfy sellers deal result？',
                        padding: '20px',
                        cancelVal: 'cancel',
                        ok: function () {
                            DealComplaint();
                        },
                        cancel: true
                    });
                    break;
                case "bad":
                    $.dialog({
                        title: 'Apply Arbitration',
                        lock: true,
                        width: 400,
                        id: 'goodCheck',
                        content: '<p class="ftx03">Sellers Reply：' + replyContent + '</p><br>Do you unsatisfy deal result and complaints？',
                        padding: '20px',
                        cancelVal: 'cancel',
                        ok: function () {
                            ApplyArbitration();
                        },
                        cancel: true
                       
                    });
                    break;
            }
        });
    });
    function DealComplaint() {
        var loading = showLoading();
        $.ajax({
            type: 'post',
            url: '/OrderComplaint/DealComplaint',
            cache: false,
            data: { id: currentId },
            dataType: 'json',
            success: function (data) {
                loading.close();
                if (data.success) {
                    $.dialog.succeedTips("Deal with success！", function () {
                        window.location.href = window.location.href;
                    }, 1);
                }
            },
            error: function () { }
        });
    }
    function ApplyArbitration() {
        var loading = showLoading();
        $.ajax({
            type: 'post',
            url: '/OrderComplaint/ApplyArbitration',
            cache: false,
            data: { id: currentId },
            dataType: 'json',
            success: function (data) {
                loading.close();
                if (data.success) {
                    $.dialog.succeedTips("Apply Success！", function () {
                        window.location.href = window.location.href;
                    }, 1);
                }
            },
            error: function () { }
        });
    }
</script>