@{
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";

    @*ViewBag.Title = "怎么获取积分";*@

    ViewBag.Title = "How to get the points";
}
@model  Himall.Model.UserIntegralGroupModel

@using Himall.Model;
@using Himall.Core;
<div class="box1 lh24">
    <div class="border-box">
        <table class="tb-void tb-goods">
            <thead>
                <tr class="tr-td">
                    <th width="150">Items</th>        @*项目*@
                    <th>Accumulative Points</th>      @*当前累积积分*@
                    <th>Rules</th>         @*规则说明*@
                </tr>
            </thead>
            <tbody>
                <tr class="tr-td">
                    <td>Login</td>    @*登录*@
                    <td class="red-lg">@Model.LoginIntegral</td>

@* <td>您每次登录都可获得一定积分奖励，每日只能获得一次登录积分~</td> *@

                    <td>You can gain some points every time when you login to the site,but you can only get them once a day ~</td>
                </tr>
                <tr class="tr-td">
                    <td>Comments</td>    @*评论*@
                    <td class="red-lg">@Model.CommentIntegral</td>

@*<td>您所购买的商品，发表评论可获得积分奖励</td>*@

                    <td>If you evaluate the products that  have been purchased, you will get options as rewards </td>
                </tr>
                <tr class="tr-td">
                    <td>Consumption</td>    @*消费*@
                    <td class="red-lg">@Model.ConsumptionIntegral</td>

@*<td>您每次消费均可获得一定积分奖励</td>*@

                    <td>Your consumption can gain some bonus points as encouragement every time</td>   
                </tr>
                <tr class="tr-td">
                    <td>Binding</td>     @*绑定*@
                    <td class="red-lg">@Model.BindWxIntegral</td>

@* <td>首次绑定平台下微信公众号可获得积分奖励</td>*@

                    <td>If you are the first time to bind the platform under the WeChat Official Accounts, you can get the bonus points </td>
                </tr>
                <tr class="tr-td">
                    <td>Register</td>    @*注册*@
                    <td class="red-lg">@Model.RegIntegral</td>

@* <td>注册并完成验证（手机或邮箱）可获得积分奖励</td>*@

                    <td> You can get the bonus points when you signed up and completed the validation (used mobile phone or email).</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


