@{
    ViewBag.Title = "购买随机红包服务";
}

<script src="~/Scripts/v.js"></script>
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>Random Bonus</strong>
        <li class=""><a href="@Url.Action("Management")">Management</a></li>
        @if( ViewBag.Market != null && ( ( Himall.Model.ActiveMarketServiceInfo )ViewBag.Market ).MarketServiceRecordInfo.Max( a => a.EndTime ) >= DateTime.Now.Date )
        {
            <li class=""><a href="#" onclick="isad( '@Url.Action("Add")' )">Add bonus</a></li>
        }
        <li class="active"><a>Buy service</a></li>
    </ul>
    @if( ViewBag.IsNo )
    {
          <form id="form1" action="@Url.Action("BuyService")" method="post">
        <div class="form-horizontal">
            <div class="form-group">
                @if( null != ViewBag.EndDate )
                {
                    <label class="col-sm-2 control-label" for="">Service end time:</label>
                    <div class="col-sm-2 form-control-static"><b>@ViewBag.EndDate</b></div>
                    <div class="col-sm-6"><span class="help-default">Each month you need pay <b class="red"> @ViewBag.Price.ToString( "f2" ) </b> dollars.</span></div>
                }
                else
                {
                    <div class="col-sm-3 col-sm-offset-2 form-control-static red">You did not purchase coupon service.</div>
                    <span>Each month you need pay @ViewBag.Price.ToString( "f2" ) dollars</span>
                }
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Quantity:</label>
                <div class="col-sm-8"><input class="form-control input-sm " type="text" id="range" name="month" style="width:105px; display:inline-block" /> &nbsp; </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 col-sm-offset-2"><button type="submit" class="btn btn-primary">Confirm purchase</button></div>
            </div>
        </div>
    </form>
    }
    else
    { 
        <div class="form-horizontal">
			<div class="form-group">
				<p class="apply-primary"><span class="glyphicon glyphicon-info-sign"></span>Platform do not open Shop Bonus.</p>
			</div>
		</div>
    }
  
</div>

<script type="text/javascript">
    function isad( href )
    {
        $.post( "/SellerAdmin/ShopBonus/isadd", {}, function ( data )
        {
            if ( data )
            {
                location.href = href;
            }
            else
            {
                $.dialog.tips( 'A period of time can only add a random bonus!' );
            }
        } );
    }

    $( function ()
    {
        $( "#range" ).focus();
    } );
    var a = v( {
        form: 'form1',
        ajaxSubmit: true,
        beforeSubmit: function ()
        {
            loadingobj = showLoading();
        },
        afterSubmit: function ( data )
        {// 表单提交成功回调
            loadingobj.close();
            var d = data;
            if ( d.success )
            {
                $.dialog.succeedTips( "Submit successfully!", function ()
                {
                    window.location.reload();
                }, 0.3 );
            } else
            {
                $.dialog.errorTips( d.msg, '', 0.3 );
            }
        }
    } );
    a.add(
        {
            target: 'range',
            empty: true,
            ruleType: 'uint&&(value>0)&&(value<=3600)',// v.js规则验证
            error: 'Can only be an integer between 0-3600!'
        } );
</script>