@model Himall.Model.ProductInfo
@{
    ViewBag.Title = Model.ProductName + " Consultation";
}
@section Style{
    <link href="~/Areas/Web/Content/WebAlertPlug.css" rel="stylesheet" />
    }
<div class="w">
    @MVCHelpers.CategoryPath(Model.CategoryPath, Model.ProductName)
</div>
<div class="w">
    <div class="right">
        <input type="hidden" id="gid" value="@Model.Id" />
        <div id="consult" class="m m2">
            <div class="mt">
                <ul class="tab">
                    <li class="curr"><a href="javascript:;">Product Consultation</a></li>
                </ul>
                <div class="consult-pub"></div>
            </div>
            <div id="consult-search">
                <div class="prompt"> <strong>Tips:</strong>Due to the factory to change the product packaging, the origin of a product or replacement accessories such as without any advance notice, and each consultant buying situation and question time is different, so the following reply to the questioner valid for 3 days only, other Internet users are for reference only! If to inconvenience you please understanding, thank you! </div>
            </div>
            <!--consult-search end-->
            <div id="consult-0" class="mc tabcon" data-widget="tab-content">


            </div>
        </div>
        <!--consult end-->
        <div class="Review_Form">
            <a name="ConsultForm" id="ConsultForm"></a>
            <h5>Write Consult:</h5>
            <div class="Re_Explain">Declaration: you can consult the product packaging, color, transportation, inventory, etc before order.Consulting reply as follows: working hours from Monday to Friday, 9 until 18:00</div>
            <ul>
                <li>
                    <span>Consult Content:</span>
                    <textarea id="ConsultContent" name="ConsultContent" class="area1"></textarea>
                </li>

                <li class="buttons">
                    <a href="#none" onclick="AddConsult()" class="getRefer">Submit</a>
                </li>
            </ul>
        </div>


    </div>
    <!--right end-->

    <div class="left product-left">
        <div class="m m2" id="product-info">
            <div class="mt"><h2>Product Informatioin</h2></div>
            <div class="mc">
                <ul>
                    <li class="p-img ac"><a href="@Url.Action("Detail", "Product", new { id = @Model.Id })" target="_blank"> <img alt="" src="@Model.ImagePath/1_100.png"> </a></li>

                    <li class="p-name">ProductName:<a href="@Url.Action("Detail", "Product", new { id = @Model.Id })" target="_blank">@Model.ProductName</a></li>
                    <li class="p-price">
                        <div class="dt">&nbsp;&nbsp;Price:</div>
                        <strong class="c-J_975101">$@Model.MinSalePrice.ToString("F2")</strong>
                    </li>
                    <li class="p-grade">
                        <div class="dt">Rating：</div>
                        <div class="fl dd">
                            <span id="product_star" class="star sa@(((int)ViewBag.productMark==0?5:(int)(ViewBag.productMark)))"></span>
                            (<span id="product_star_score">@(((Decimal)ViewBag.productMark == 0 ? 5 : (Decimal)ViewBag.productMark).ToString("F1"))</span>)
                        </div>
                    </li>
                    <li class="p-count">
                        <div class="dt">Consults：</div>
                        <div id="p-num-comment" class="dd">@{@Model.Himall_ProductComments.Count}</div>
                    </li>

                    <li class="p-btn">
                        <a class="btn-goshop" href="@Url.Action("Detail", "Product", new { id = @Model.Id })">Go to buy<b>></b></a>
                    </li>
                </ul>
            </div>
        </div>


    </div><!--left end-->
    <span class="clr"></span>
</div>
<script src="~/Areas/Web/Scripts/ProductConsultation.js"></script>
<script type="text/javascript">


    $(function () {
        $("#ConsultContent").bind("focus", function () { SendConsultation(); });
    });
</script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script type="text/javascript">
    function SendConsultation() {
        var memberId = $.cookie('Himall-User');
        if (memberId) {
        }
        else {
            $.fn.login({}, function () {
                location.href = '/ProductConsultation/index/' + $("#gid").val() + '#ConsultForm';
            }, '', '', '/Login/Login');
        }
    }

    function AddConsult() {
        if ( $( "#ConsultContent" ).val().trim() == '' )
        {
            $.dialog.tips("Please enter Consult Content！");
            return false;
        }
        if ($("#ConsultContent").val().length > 500)
        {
            $.dialog.tips("Consult Content within 500 characters！");
            return false;
        }
        SendConsultation();
        var content = $("#ConsultContent").val();
        var loading = showLoading();
        $.ajax({
            type: 'post',
            url: "@Url.Action("AddConsultation", "ProductConsultation")",
            data: { Content: content, productId: $("#gid").val() },
            dataType: "json",
            success: function (data) {
                loading.close();
                if (data.success) {
					$.dialog.succeedTips("Consult Success！", function () {location.reload();}, 2);
                }
                else {
					$.dialog.errorTips("Consult Failed！"+ data.msg);
                }
            }
        });
    }
</script>