@model Himall.Model.ProductInfo

@using System.Linq
@{
    ViewBag.Title = "ProductImport";
}
<script src="~/Scripts/jquery.himallUpload.js"></script>
<script src="~/Scripts/jquery.himallLinkage.nocreate.js"></script>
<style>
   
    .uploadFile {
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 100px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    .divFile{
            position:relative;
            width:75px;
            height:22px;
            display:inline;
        }
        .inputFile {
            position: absolute;
            top: 0px;
            left: 135px;
            width: 75px;
            height: 22px;
            opacity: 0;
            filter: "alpha(opacity=0)";
            filter: alpha(opacity=0);
            -moz-opacity: 0;
        }
</style>

<iframe name="iframeUpload" src="" width="350" height="35" frameborder="0"  scrolling="no" style="display:none" id="iframe"></iframe>
<form></form>

<div class="ajax-loading" style="display:none">
    <table height="100%" width="100%">
        <tr>
            <td align="center">
                <p></p>
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <input type="hidden" id="inputFileName" value="" />
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>Import Products Data</a></li>
    </ul>
    <div class="form-horizontal" style="border:1px solid #ccc">

        <div class="form-group">
            <label class="col-sm-2 control-label">Category:</label>
            <div class="col-sm-3">
                <select id="sellercategory1" class="form-control input-sm select-sort">
                    <option>category</option>
                </select>
                <select id="sellercategory2" class="form-control input-sm select-sort">
                    <option>category</option>
                </select>
            </div>
            <div class="col-sm-5"><span class="help-default">Please select the shop categories, if not classified, please <a href="/SellerAdmin/category/management">add a category</a></span></div>
        </div>




        <div class="form-group">
            <label class="col-sm-2 control-label" for="">Import excel data:</label>
            <div class="col-sm-3 form-control-static">
                <form id="formUpload" action="/common/PublicOperation/UploadFile" enctype="multipart/form-data" method="post" target="iframeUpload">

                    <div class="divFile">
                        <input type="text" id="inputFile" value="select a file" disabled="disabled" />
                        <input type="button" value="select a file" />
                        <input type="file" id="btnFile" class="inputFile" name="_file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                    </div>
                </form>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" id="btnUpload" value="Import" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="divAttention">
                    <h5 style="color:red;">Precautions:</h5>
                    <p>Please strictly follow the example Excel format and import the data.</p>
                    <p>Size of every file cannot bigger than <span style="color:red;">15M</span></p>
                    <p>Please download the Excel template file:<a href="~/ExcelTemplate/BulkImportTemplate.xlsx" target="_blank" style="color:blue">template file</a></p>
                </div>
            </div>
        </div>

    </div>
        
</div>
<iframe id="iframeImport" style="display:none;"></iframe>
<input id="inputCount" type="hidden" value="@ViewBag.Count" />
<input id="inputTotal" type="hidden" value="@ViewBag.Total" />
<input id="inputSuccess" type="hidden" value="@ViewBag.Success" />
<input id="inputShopid" type="hidden" value="@ViewBag.shopid" />
<input id="inputUserid" type="hidden" value="@ViewBag.userid" />
<script src="~/Areas/SellerAdmin/Scripts/ProductImport.js"></script>

