@model Himall.Model.ProductInfo

@using System.Linq
@{
    ViewBag.Title = "ProductImport";
}
<script src="~/Scripts/jquery.himallUpload.js"></script>
<script src="~/Scripts/jquery.himallLinkage.nocreate.js"></script>
<style>
   
    .uploadFile {
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 100px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    .divFile{
            position:relative;
            width:75px;
            height:22px;
            display:inline;
        }
        .inputFile {
            position: absolute;
            top: 0px;
            left: 135px;
            width: 75px;
            height: 22px;
            opacity: 0;
            filter: "alpha(opacity=0)";
            filter: alpha(opacity=0);
            -moz-opacity: 0;
        }
</style>

<iframe name="iframeUpload" src="" width="350" height="35" frameborder="0"  scrolling="no" style="display:none" id="iframe"></iframe>
<form></form>

<div class="ajax-loading" style="display:none">
    <table height="100%" width="100%">
        <tr>
            <td align="center">
                <p></p>
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <input type="hidden" id="inputFileName" value="" />
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>Import products' data</a></li>
    </ul>
    <div class="form-horizontal" style="border:1px solid #ccc">

        <div class="form-group">
            <label class="col-sm-2 control-label">Category:</label>
            <div class="col-sm-3">
                <select id="sellercategory1" class="form-control input-sm select-sort">
                    <option>分类</option>
                </select>
                <select id="sellercategory2" class="form-control input-sm select-sort">
                    <option>分类</option>
                </select>
            </div>
            <div class="col-sm-5"><span class="help-default">请选择商品所在的店铺分类,如果没有分类请<a href="/SellerAdmin/category/management">添加分类</a></span></div>
        </div>




        <div class="form-group">
            <label class="col-sm-2 control-label" for="">从Excel导入数据：</label>
            <div class="col-sm-3 form-control-static">
                <form id="formUpload" action="/common/PublicOperation/UploadFile" enctype="multipart/form-data" method="post" target="iframeUpload">

                    <div class="divFile">
                        <input type="text" id="inputFile" value="请选择文件" disabled="disabled" />
                        <input type="button" value="选择文件" />
                        <input type="file" id="btnFile" class="inputFile" name="_file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                    </div>
                </form>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" id="btnUpload" value="导 入" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="divAttention">
                    <h5 style="color:red;">注意事项：</h5>
                    <p>请严格按照Excel示例格式整理数据并导入</p>
                    <p>单个文件大小不能超过<span style="color:red;">15M</span></p>
                    <p>请先下载Excel模板文件:<a href="~/ExcelTemplate/BulkImportTemplate.xlsx" target="_blank" style="color:blue">下载模板文件</span></p>
                </div>
            </div>
        </div>

    </div>
        
</div>
<iframe id="iframeImport" style="display:none;"></iframe>
<input id="inputCount" type="hidden" value="@ViewBag.Count" />
<input id="inputTotal" type="hidden" value="@ViewBag.Total" />
<input id="inputSuccess" type="hidden" value="@ViewBag.Success" />
<input id="inputShopid" type="hidden" value="@ViewBag.shopid" />
<input id="inputUserid" type="hidden" value="@ViewBag.userid" />
<script src="~/Areas/SellerAdmin/Scripts/ProductImport.js"></script>

