@{
    Layout = null;
}
@model Himall.Model.UserMemberInfo
<div class="top">
    <div class="warp cl">
        <span class="top-link">
            Hi，Welcome to @ViewBag.SiteName！
            @if (Request.Path == "/")
            {
                <a href="/userCenter">My Account</a>
            }
            else
            {
                <a href="/">HomePage</a>
            }
            @*@if (Model != null)
            {
                <a href="/UserCenter?url=/userinvite&tar=userinvite">推广返利</a>
            }
            else
            {
                <a href="@Url.Action("index","invite")">推广返利</a>
            }*@
        </span>

      

        <ul class="quick_list">
            @if (Model != null)
            {
                <li> <a href="/userCenter">@(string.IsNullOrEmpty(Model.Nick) ? @Model.UserName : @Model.Nick)</a> &nbsp; <a href="javascript:logout()">[Logout]</a></li>
            }
            else
            {
                <li> <a href="/Login">[Sign in]</a></li>
                <li> <a href="/Register">[Sign up]</a></li>
            }
            <li class="sitemap dropdown">
                <span class="outline"></span>
                <span class="blank"></span>
                <s></s>
                <a href="/UserCenter">My Account</a>
                <b></b>
                <div class="dropdown-menu">
                    <ol>
                        <li><a href="/UserCenter?url=/UserOrder&tar=UserOrder">Orders</a></li>
						<li><a style="letter-spacing: -0.6px;" href="/UserCenter?url=/productConcern&tar=productConcern">Wishlist Products</a></li>
						<li><a style="letter-spacing: -0.6px;"  href="/UserCenter?url=/shopConcern&tar=shopConcern">Wishlist Shops</a></li>
                    </ol>
                </div>
            </li>
            <li><s></s><a target="_blank" href="/cart/cart">Carts<em>(<span id="shopping-amount"></span>)</em></a></li>


            <li class="service dropdown">
                <s></s>
                <span class="outline"></span>
                <span class="blank"></span>
                <a href="/SellerAdmin">Sellers Center</a>
                <b></b>
                <div class="dropdown-menu">
                    <ol>
                        <li><a href="/SellerAdmin">Open a Shop</a></li>
                        <li><a href="/SellerAdmin?url=/SellerAdmin/order/management&tar=order/management">Orders</a></li>
                        <li><a href="/SellerAdmin?url=/SellerAdmin/product/PublicStepOne&tar=PublicStepOne">Add Product</a></li>
                        <li><a href="/SellerAdmin?url=/SellerAdmin/product/management&tar=product/management">Products</a></li>

                    </ol>
                </div>
            </li>


            <li class="moblie-qrcode dropdown" style="display:none;">
                <s></s>
                <span class="outline"></span>
                <span class="blank"></span>
                <a href="javascript:void(0)">Moblie</a>
                <b></b>
                @if (!string.IsNullOrEmpty(ViewBag.QR))
                {
                    <div class="dropdown-menu">
                        <img src="@ViewBag.QR" width="90" height="90" />
                    </div>
                }
            </li>

            <li class="service dropdown">
                <s></s>
                <span class="outline"></span>
                <span class="blank"></span>
                <a href="javascript:void(0)">Customer Center</a>
                <b></b>
                <div class="dropdown-menu">
                    <ol>
                        <li><a href="/Article/Category">Help Center</a></li>
                        <li><a href="/UserCenter?url=/OrderRefund&tar=OrderRefund">After-sales service</a></li>
                        <li><a href="/UserCenter?url=/OrderComplaint&tar=OrderComplaint">Complaint Center</a></li>
                    </ol>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>

    $(function () {

        refreshCartProducts();
    });
    function refreshCartProducts() {
        $.post('/cart/GetCartProducts', {}, function (cart) {
            var products = cart.products;
            var count = cart.totalCount;
            $('#shopping-amount,#right_cart em').html(count);
        });
    }

    function logout() {
        $.removeCookie('Himall-User', { path: '/' });
        $.removeCookie('Himall-SellerManager', { path: "/" });
        location.reload();
    }
</script>

