<div class="menu_left_box">
    <span class="a icon1">My Account</span>
    <a class="b" href="@Url.Action("index","userCenter")">My Account</a>
    <a class="b" href="@Url.Action("index", "UserOrder")">Orders</a>
    <a class="b" href="@Url.Action("index","userConsultation")">Consultations</a>
    <a class="b" href="@Url.Action("index","userComment")">Reviews</a>
    <span class="a icon2">My Liked</span>
    <a class="b" href="@Url.Action("index", "productConcern")">Liked Products</a>
    <a class="b" href="@Url.Action("index", "shopConcern")">Liked Shops</a>
    <span class="a icon3">After-sales service</span>
    <a class="b" href="@Url.Action("index", "OrderRefund")">Return & Exchange</a>
    <a class="b" href="@Url.Action("index", "OrderComplaint")">Complaints</a>
    <span class="a icon4">Accounts</span>
    <a class="b" href="@Url.Action("index","userAddress")">Customer Address</a>
    <a class="b" href="@Url.Action("index","userInfo")">Customer Info</a>
    <a class="b" href="@Url.Action("AccountSafety", "UserCenter")">Customer Security</a>
</div>
