@model Himall.Web.Areas.Web.Models.MyAssetViewModel

@{
    Layout = null;
}
<div class="side-asset-total cl">
    <div>
        <span>@(Model.MyMemberIntegral)</span>
        <p>My points</p>
    </div>
    <div>
        <span>@(Model.MyCouponCount)</span>
        <p>Coupons</p>
    </div>
</div>
<div class="side-asset-list">
    <p>Have got Coupons</p>
    <ul>
        @{var cls = "";}
        @foreach (var item in Model.MyCoupons)
        {
            if (item.Price >= 100) { cls = "coupon-lg"; }

            else if (item.Price <= 50) { cls = "coupon-sm"; }
            <li class="@cls">
                <a href="/Shop/Home/@item.ShopId" target="_blank">
                    <h5>@item.ShopName</h5>
                    @if (item.OrderAmount > 0)
                    {
                        <h3><span>$@item.Price</span>Over @{@item.OrderAmount} can use</h3>
                    }
                    else
                    {
                        <h3><span>$@item.Price</span>Over $@(item.Price) can use</h3>
                    }
                    <p> Expiration Date ：@item.EndTime.ToString("yyyy.MM.dd")</p>
                </a>
            </li>
        }

        @{cls = "";}
        @foreach (var item in Model.MyShopBonus)
        {
            if (item.Price >= 100) { cls = "coupon-lg"; }

            else if (item.Price <= 50) { cls = "coupon-sm"; }
            <li class="@cls">
                <a href="/Shop/Home/@item.Himall_ShopBonusGrant.Himall_ShopBonus.ShopId" target="_blank">
                    <h5>@item.Himall_ShopBonusGrant.Himall_ShopBonus.Himall_Shops.ShopName</h5>
                    @if (item.Himall_ShopBonusGrant.Himall_ShopBonus.UseState == Himall.Model.ShopBonusInfo.UseStateType.FilledSend)
                    {
                        <h3><span>$@item.Price</span>Over @{@item.Himall_ShopBonusGrant.Himall_ShopBonus.UsrStatePrice}-@{@item.Price} coupons</h3>
                    }
                    else
                    {
                        <h3><span>$@item.Price</span>Over $@(item.Price) can use</h3>
                    }
                    <p>Expiration Date：@item.Himall_ShopBonusGrant.Himall_ShopBonus.BonusDateEnd.ToString("yyyy.MM.dd")</p>
                </a>
            </li>
        }
    </ul>
</div>