@{
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";
    ViewBag.Title = "Withdraw"; @*提现*@
    String[] LS = @ViewBag.List;
}
<link href="~/Areas/Web/Content/register.css" rel="stylesheet" />
<script src="~/Areas/Web/Scripts/ApplyWithDraw.js"></script>
<div class="box1 lh24" style="margin-bottom:0; padding-bottom:0;display:none;" id="stepnav">
    <div class="step-list">
        <div name="step2" class="step-u active">
            <em>1</em>
            Choose payment type
            <span class="tail tail2"></span>
            <span class="tail"></span>
        </div>

        <div name="step3" class="step-u todo">
            <em>2</em>
            Input the amount of withdraw and submit the application @*输入提现金额，提交提现申请*@
            <span class="tail tail2"></span>
            <span class="tail"></span>
        </div>
        <div name="step4" class="step-u  todo">
            <em>3</em>
             Waitting for the Confirmation of PC platform  @*等待平台确认*@
        </div>
    </div>
</div>

<div class="box1 lh24" id="step1" name="stepname">
    <div class="title bot-border">
        <h3 class="title_txt cur">Set withdrawa password   @*提现支付密码设置*@</h3>
    </div>
    <div class="border-box">
        <div class="user-set userset-lcol">
            <div class="form">
                <div class="item">
                    <span class="label">Password@*请设置密码*@：</span>
                    <div class="fl">
                        <input type="password" value="" id="new" name="userVo.realName" maxlength="20" class="itxt fl">
                        <span id="new_msg" class="prompt-06" style="padding-left:10px;"></span>
                        <span>6-20 characters(letter,number)@*6-20位字符，可使用字母、数字或符号的组合*@</span>
                    </div>
                </div>
                <div class="item">
                    <span class="label">Confirm password@*请确认密码*@：</span>
                    <div class="fl">
                        <input type="password" value="" id="confirm" name="userVo.realName" maxlength="20" class="itxt fl">
                        <span class="prompt-06" id="confirm_msg" style="padding-left:10px;"></span>
                    </div>
                </div>
                <div class="item">
                    <span class="label">&nbsp;</span>
                    <div class="fl">
                        <a id="submitPwd" class="btn-5" href="javascript:;">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box1 lh24" style="display:none;" id="step2" name="stepname">
    <div class="title bot-border">
        <h3 class="title_txt cur">Choose the account@*选择账户*@</h3>
    </div>
    <div class="border-box">
        <div class="user-set userset-lcol">
            <div class="form">
                <div class="item">
                    <span class="label">My Account@*我的账户*@：</span>
                    <div class="fl">
                        <select id="account" class="sele" style="width:200px">
                            @for (int i = 0; i < @ViewBag.Num; i++)
                            {
                                <option>@LS[i]</option>
                            }


                        </select>
                    </div>
                    <div class="f1"><span class="help-default">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/WithDraw/AddWithDraw">Add Account@*新增账户*@</a></span></div>
                    
                </div>
                
                <div class="item">
                    <span class="label">&nbsp;</span>
                    <div class="fl">
                        <a id="submitAccount" class="btn-5">Commit@*提交*@</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box1 lh24" style="display:none;" id="step3" name="stepname">
    <div class="border-box">
        <div class="user-set userset-lcol">
            <div class="form">
                <div class="item">
                    <span class="label">withdrawals Balance@*可提现金额*@：</span>
                    <div class="fl">
                        <span>@ViewBag.ApplyWithMoney</span>
                    </div>
                </div>
                <div class="item">
                    <span class="label"> withdraw Type @*提现方式*@：</span>
                    <div class="fl">
                        <span id="withdrawtype"></span>
                    </div>
                </div>
                <div class="item">
                    <span class="label"> The Account @*收款账号*@：</span>
                    <div class="fl">
                        <span id="myaccount"></span>
                    </div>
                </div>
                <div class="item">
                    <span class="label">The payee @*收款人*@：</span>
                    <div class="fl">
                        <span id="nikename"></span>
                    </div>
                </div>
                <div class="item">
                    <span class="label">Withdraw Amount@*提现金额*@：</span>
                    <div class="fl">
                        <input value="" id="inputMoney" name="userVo.realName" maxlength="20" class="itxt fl">
                    </div>
                </div>
                <div class="item">
                    <span class="label">Payment Password@*支付密码*@：</span>
                    <div class="fl">
                        <input type="password" value="" id="payPwd" name="userVo.realName" maxlength="20" class="itxt fl">
                    </div>
                </div>
                <div class="item">
                    <span class="label">&nbsp;</span>
                    <div class="fl">
                        <a id="submitApply" class="btn-5" href="javascript:;">Commit@*提交*@</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box1 lh24" style="display:none;" id="step4" name="stepname">
    <div class="title bot-border">
        <h3 class="title_txt cur">Withdrawals Condition@*提现状态*@</h3>
    </div>
    <div class="border-box">
        <p style="font-size:22px; text-align:center; padding:50px 0">Checking@*正在审核*@...</p>
    </div>

</div>

<script>
    var sceneid = '@ViewBag.Sceneid';
    var pwdflag = '@ViewBag.IsSetPwd';
    var balance = '@ViewBag.ApplyWithMoney';
    (function ($) {
        $("#old").focus();
        var stae1, stae2, stae3, stae4
        handle = function (dom, data, msg, d) {
            if (data) {
                stae1 = $('#' + dom).val();
            } else {
                $('#' + dom).css({ borderColor: '#f60' });
                $('#' + dom + '_msg').css({ color: '#f60' }).html(msg);
                stae1 = '';
            }
        };

        $('#new').blur(function () {
            var d = $(this).val();
            if (d.length < 6) {
                $('#new').css({ borderColor: '#f60' });
                $('#new_msg').css({ color: '#f60' }).html('Passswords must be at least 6 characters!'); @*密码不能少于6位!*@
                stae2 = '';
            } else {
                $('#new').css({ borderColor: '#ccc' });
                $('#new_msg').css({ color: '#ccc' }).html('');
                stae2 = d;
                if ($('#confirm').val() != '' && $('#confirm').val() == $('#new').val()) {
                    $('#confirm').css({ borderColor: '#ccc' });
                    $('#confirm_msg').css({ color: '#ccc' }).html('');
                    stae3 = d;
                }
            }
        });
        $('#confirm').blur(function () {
            var d = $(this).val();
            if (d == $('#new').val()) {
                $('#confirm').css({ borderColor: '#ccc' });
                $('#confirm_msg').css({ color: '#ccc' }).html('');
                stae3 = d;
            } else {
                $('#confirm').css({ borderColor: '#f60' });
                $('#confirm_msg').css({ color: '#f60' }).html('Passwords does not match! '); @*两次密码不一致!*@
                stae3 = '';
            }
        });
        $('#account').blur(function () {                                           //账户信息
            var d = $(this).val();
           
            stae4 = d;
        });
        $('#submitPwd').bind('click', function () {
            //console.log(stae1)
            if (!stae2) {
                $('#new').css({ borderColor: '#f60' });
                $('#new_msg').css({ color: '#f60' }).html('Passswords must be at least 6 characters!'); 
            }
            if (!stae3) {
                $('#confirm').css({ borderColor: '#f60' });
                $('#confirm_msg').css({ color: '#f60' }).html('Passwords does not match!');
            }
            if (stae2 && stae3) {
                var loading = showLoading();
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SavePayPwd")',
                    data: { "pwd": stae3 },
                    dataType: "json",
                    success: function (data1) {
                        loading.close();
                        if (data1.success) {
                            $.dialog.succeedTips('Set password successful!');
                            JumpStep(2);
                            //checkScanState();
                        }
                    }
                });
            }
        });
        $('#submitAccount').bind('click', function () {
            var acc = $('#account').val();
            //     $.dialog.succeedTips(acc);
            $.ajax({
                type: 'post',
                url: '@Url.Action("SelectAccount")',
                data: { "account": acc },
                dataType: "json",
                success: function (data) {
                    /*loading.close();*/
                    if (data.success) {
                        //  $.dialog.succeedTips('Select account successful!'); @*选择成功！*@
                        //    $('#nikename').val = 's1';
                        document.getElementById("withdrawtype").innerHTML = data.type;
                        document.getElementById("myaccount").innerHTML = data.myaccount;
                        document.getElementById("nikename").innerHTML = data.nikename;

                        JumpStep(3);
                       // checkScanState();
                    }
                    else {
                        $.dialog.succeedTips('PLease choose the withdrawals account! '); @*请选择提现账号！*@
                    }
                    // $.dialog.succeedTips('HERE！');
                }
            });

        });
       
        $('#acocount').himallLinkage({
            url: '../Category/getCategory',
            enableDefaultItem: true,
            defaultItemsText: '',
            onChange: function (level, value, text) {
                categoryId = value;
            }
        });

    }(jQuery))
</script>
