@using Himall.Core;
@model Himall.Web.Models.ShopModel
@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css">
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>Shop information</a></li>
    </ul>
    <form class="form-horizontal" id="from_Save" role="form">
        <h3 class="table-hd">Company and Contact Information</h3>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-6">
            </colgroup>
            <tbody>
                <tr>
                    <td>Company Name</td>
                    <td>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(item => item.CompanyName, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(item => item.CompanyName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Campany Location</td>
                    <td>

                        <div class="col-sm-6">
                            <span id="span_area">
                                <span id="span_province"><select id="companyLocationProvince" class="form-control input-sm select-sort"><option value="">请选择：</option></select></span>
                                <span id="span_city"><select id="companyLocationCity" class="form-control input-sm select-sort"><option value="">请选择：</option></select></span>
                                <span id="span_county"><select id="companyLocationDistrict" class="form-control input-sm select-sort"><option value="">请选择：</option></select></span>
                            </span>
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(item => item.NewCompanyRegionId)
                        </div>
                        @Html.TextBoxFor(item => item.NewCompanyRegionId, new { style = "width:0px;height:0px;border-width:0px;" })
                    </td>
                </tr>
                <tr>
                    <td>Company Address</td>
                    <td>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(item => item.CompanyAddress, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(item => item.CompanyAddress)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Company Tel</td>
                    <td>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(item => item.CompanyPhone, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(item => item.CompanyPhone)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Employee Count</td>
                    <td>
                        <div class="col-sm-3">
                            @Html.DropDownListFor(item => item.CompanyEmployeeCount, (IEnumerable<SelectListItem>)Himall.Model.CompanyEmployeeCount.LessThanFive.ToSelectList(), new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(item => item.CompanyEmployeeCount)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Registered Capital</td>
                    <td>
                        <div class="col-sm-3">
                            @(Html.TextBoxFor(item => item.CompanyRegisteredCapital, new { @class = "form-control input-sm" }))
                        </div>
                        <div class="col-sm-1" style="line-height:30px">dollars</div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(item => item.CompanyRegisteredCapital)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Contact Name</td>
                    <td>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(item => item.ContactsName, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(item => item.ContactsName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Contact Tel</td>
                    <td>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(item => item.ContactsPhone, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(item => item.ContactsPhone)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(item => item.ContactsEmail, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(item => item.ContactsEmail)
                        </div>
                    </td>
                </tr>
				<tr>
                    <td>Business License Certificate</td>
                    <td>
                        <div class="form-group upload-img" id="BusinessLicenseCert"></div>
                    </td>
                </tr>
				<tr>
                    <td>Product Certificate</td>
                    <td>
                        <div class="form-group upload-img" id="ProductCert"></div>
                    </td>
                </tr>
				<tr>
                    <td>Other Certificates</td>
                    <td>
                        <div class="form-group upload-img" id="OtherCert"></div>
                    </td>
                </tr>
				
				
            </tbody>
        </table>

        <h3 class="table-hd">Business License(Copy)</h3>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-6">
            </colgroup>
            <tbody>
                <tr>
                    <td>Business License No.</td>
                    <td>@Model.BusinessLicenceNumber</td>
                </tr>
                <tr>
                    <td>Business License Location</td>
                    <td>@Model.BusinessLicenceRegionId</td>
                </tr>
                <tr>
                    <td>Business License Period</td>
                    <td>
                        @if (Model.BusinessLicenceStart.HasValue)
                        {
                            @Model.BusinessLicenceStart.Value.ToShortDateString()
                        }
                        -
                        @if (Model.BusinessLicenceEnd.HasValue)
                        {
                            @Model.BusinessLicenceEnd.Value.ToShortDateString()
                        }
                    </td>
                </tr>
                <tr>
                    <td>Legal Management Scope</td>
                    <td>@Model.BusinessSphere</td>
                </tr>
                <tr>
                    <td>Legal Representative</td>
                    <td>@Model.legalPerson</td>
                </tr>
                <tr>
                    <td>Date of Company Established</td>
                    <td>@Model.CompanyFoundingDate.Value.ToString("yyyy-MM-dd")</td>
                </tr>
                <tr>
                    <td>Business License No.<br />electronic edition</td>
                    <td><img style="max-width:700px" src="@Model.BusinessLicenceNumberPhoto" alt="" /></td>
                </tr>
            </tbody>
        </table>

        <h3 class="table-hd">Organization Code Certificate</h3>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-6">
            </colgroup>
            <tbody>
                <tr>
                    <td>Organization Code</td>
                    <td>@Model.OrganizationCode</td>
                </tr>
                <tr>
                    <td>Organization Code Certificate<br />electronic edition</td>
                    <td><img style="max-width:700px" src="@Model.OrganizationCodePhoto" alt="" /></td>
                </tr>
            </tbody>
        </table>

        <h3 class="table-hd">General Taxpayer Certificate</h3>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-6">
            </colgroup>
            <tbody>
                <tr>
                    <td>General Taxpayer Certificate</td>
                    <td><img style="max-width:700px" src="@Model.GeneralTaxpayerPhot" alt="" /></td>
                </tr>
            </tbody>
        </table>

        <h3 class="table-hd">Settlement Account Information</h3>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-6">
            </colgroup>
            <tbody>
                <tr>
                    <td>Bank Account Name</td>
                    <td>@Model.BankAccountName</td>
                </tr>
                <tr>
                    <td>Bank Account</td>
                    <td>@Model.BankAccountNumber</td>
                </tr>
                <tr>
                    <td>Bank Name</td>
                    <td>@Model.BankName</td>
                </tr>
                <tr>
                    <td>Bank Code</td>
                    <td>@Model.BankCode</td>
                </tr>
                <tr>
                    <td>Bank Region</td>
                    <td>@Model.BankRegionId</td>
                </tr>
                <tr>
                    <td>Bank Licenses<br />electronic edition</td>
                    <td><img style="max-width:700px" src="@Model.BankPhoto" alt="" /></td>
                </tr>
            </tbody>
        </table>

        <h3 class="table-hd">Tax Registration Certificate</h3>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-6">
            </colgroup>
            <tbody>
                <tr>
                    <td>Tax Registration Certificate No.</td>
                    <td>@Model.TaxRegistrationCertificate</td>
                </tr>
                <tr>
                    <td>Tax Payer No.</td>
                    <td>@Model.TaxpayerId</td>
                </tr>
                <tr>
                    <td>Tax Registry No.<br />electronic edition</td>
                    <td><img style="max-width:700px" src="@Model.TaxRegistrationCertificatePhoto" alt="" /></td>
                </tr>
            </tbody>
        </table>

        <h3 class="table-hd">Shop Management Information</h3>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-6">
            </colgroup>
            <tbody>
                <tr>
                    <td>Seller Account</td>
                    <td>@Model.Account</td>
                </tr>
                <tr>
                    <td>Shop Name</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Shop Grade</td>
                    <td>@Model.ShopGrade</td>
                </tr>
                <tr>
                    <td>Business Category</td>
                    <td>
                        @foreach (var item in Model.BusinessCategory)
                        {
                            <b>@item.Name ,</b>
                        }
                    </td>
                </tr>
                @if (File.Exists(Server.MapPath(Model.PayPhoto)))
                {
                    <tr>
                        <td>Pay Photo</td>
                        <td><img style="max-width:700px" src="@Model.PayPhoto" alt="" /></td>
                    </tr>
                }
                <tr>
                    <td>Pay Remark</td>
                    <td>@Model.PayRemark</td>
                </tr>
            </tbody>
        </table>

        <div class="form-group" style="padding:20px 0 100px">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-primary" id="Save" href="javascript:;">Save</a>
            </div>
        </div>
    </form>
</div>
<script src="~/Scripts/Region.js"></script>
<script src="~/Scripts/RegionBind.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/Scripts/jquery.hishopUpload.js"></script>
<script src="~/Scripts/jquery.himallLinkage.nocreate.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script type="text/javascript">
    var companyRegionIds = "@ViewBag.CompanyRegionIds";

    $(function () {
        $('#Save').click(function () {
            var form = $('#from_Save');
            if (form.valid()) {

                $('#CompanyRegisteredCapital').val($('#CompanyRegisteredCapital').val().replace(/,/g, ''));
                if (isSelectAddr($("#companyLocationProvince"), $("#companyLocationCity"), $("#companyLocationDistrict")))
                {
                    var region= $("#companyLocationDistrict").val()==0 ? $("#companyLocationCity").val():$("#companyLocationDistrict").val();
                    $('#NewCompanyRegionId').val(region);
                }
                var data = form.serialize();

                //data=data+'&CompanyRegionId='
                var loading = showLoading();
                $.post('EditProfile1', data, function (result) {
                    loading.close();
                    if (result.success)
                    {
                        $.dialog.tips('Save successful!');
                        window.location.reload();
                    }
                    else
                        $.dialog.errorTips('Save failed' + result.msg);
                });
            }
        });

        var businessLicenseCerts = @Html.Raw(Json.Encode(@ViewBag.BusinessLicenseCerts));
        var productCerts = @Html.Raw(Json.Encode(@ViewBag.ProductCerts));
        var otherCerts = @Html.Raw(Json.Encode(@ViewBag.OtherCerts));
       
        $("#BusinessLicenseCert").hishopUpload({
            title: '经营许可类证书:(最多三张)',
            imageDescript: '',
            displayImgSrc: businessLicenseCerts,
            imgFieldName: "BusinessLicenseCert",
            defaultImg: '/Images/default_100x100.png',
            imagesCount: 3,
            dataWidth: 6
        });
        $("#ProductCert").hishopUpload({
            title: '产品类证书:(最多三张)',
            imageDescript: '',
            displayImgSrc: productCerts,
            imgFieldName: "ProductCert",
            defaultImg: '/Images/default_100x100.png',
            imagesCount: 3,
            dataWidth: 6
        });
        $("#OtherCert").hishopUpload({
            title: '其它证书:(最多三张)',
            imageDescript: '',
            displayImgSrc: otherCerts,
            imgFieldName: "OtherCert",
            defaultImg: '/Images/default_100x100.png',
            //pictureSize: '100*100',
            imagesCount: 3,
            dataWidth: 6
        });
        //var businessLicenseCert = $("#BusinessLicenseCert").hishopUpload('getImgSrc').toString()
        
        //$('#CompanyRegisteredCapital').autoNumeric({vMax:999999});

        setProvince($("#companyLocationProvince"), $("#companyLocationCity"), $("#companyLocationDistrict"));
        InitRegion($("#companyLocationProvince"), $("#companyLocationCity"), $("#companyLocationDistrict"),companyRegionIds);
    });

    function bindCity(provinceControl, cityControl, countyControl, regionId) {
        var regions = regionId.split(',');
        var shengfen = regions.length > 0 ? regions[0] : 0;
        var city = regions.length > 1 ? regions[1] : 0;
        var county = regions.length > 2 ? regions[2] : 0;
        $('#' + provinceControl + ',#' + cityControl + ',#' + countyControl).cityLink(shengfen, city, county);
    }

</script>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
