@using Himall.Core;
@model Himall.Web.Areas.SellerAdmin.Models.CustomerServiceModel
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>Customer Service</strong>
        <li><a href="management">Management</a></li>
        <li class="active"><a>@(Model.Id > 0 ? "Edit" : "Add")</a></li>
    </ul>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>Customer Service Name:</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-sm", maxlength = 15 })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "help-default cor-red" })
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>Communication Tools:</label>
            <div class="col-sm-3">
                @Html.DropDownListFor(s => s.Tool, ((IEnumerable<SelectListItem>)Himall.Model.CustomerServiceInfo.ServiceTool.QQ.ToSelectList(false)), new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>Account:</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Account, new { @class = "form-control input-sm", maxlength = 25 })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(m => m.Account, "", new { @class = "help-default cor-red" })
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>Account:</label>
            <div class="col-sm-3">
                <label> <input type="radio" name="type" value="1" @((Model.Type.HasValue || Model.Type == Himall.Model.CustomerServiceInfo.ServiceType.PreSale) ? "checked" : "") />pre-sale</label>
                <label> <input type="radio" name="type" value="2" @(Model.Type == Himall.Model.CustomerServiceInfo.ServiceType.AfterSale ? "checked" : "") />after-sale</label>
            </div>
        </div>

        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" id="submit">Save</button>
            </div>
        </div>
    </form>
</div>

<script>
$(function(){
$("#Name").focus();
});
    function bindSubmitClickEvent() {
        var form = $('form');
        $('#submit').click(function () {
            if (form.valid()) {
                var loading = showLoading();
                $.post('add', form.serialize(), function (result) {
                    loading.close();
                    if (result.success) {
                        $.dialog.tips('Save successful!', function () {
                            location.href = '@Url.Action("management", "CustomerService", new {area="Selleradmin"})';
                        });
                    }
                    else
                        $.dialog.errorTips('Save failed' + result.msg);
                })
            }
        });
    }


    $(function () {
        bindSubmitClickEvent();


    })



</script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
