@model IEnumerable<Himall.Web.Areas.SellerAdmin.Models.CustomerServiceModel>
@using Himall.Core;

<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>Customer Service</strong>
        <li class="active"><a>Management</a></li>
        <li><a href="add">Add</a></li>
        <em class="primary-btn">
            <span class="glyphicon glyphicon-question-sign"></span>
            <div class="primary">
                <h3>温馨提示：</h3>
                <span>*</span><p>管理店铺客服，可设置不同的沟通工具及客服类型</p>
            </div>
        </em>
    </ul>

    <table class="table mt20">
        <thead>
            <tr>
                <th>Customer Service Name</th>
                <th style="text-align:center">Communication Tools</th>
                <th style="text-align:center">Account</th>
                <th style="text-align:center">Customer Service Type</th>
                <th class="td-operate">Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customerService in Model)
            {
                <tr>
                    <td>@customerService.Name</td>
                    <td align="center">@customerService.Tool.ToDescription()</td>
                    <td align="center">@customerService.Account</td>
                    <td align="center">@customerService.Type.ToDescription()</td>
                    <td class="td-operate">
                        <span class="btn-a">
                             <a href="add?id=@customerService.Id">edit</a>
                             <a onclick="del(@customerService.Id,'@customerService.Name')">delete</a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>

    function del(id,name) {
        $.dialog.confirm('Are you sure you delete customer service '+name+'?',function(){
            var loading = showLoading();
            $.post('delete',{id:id},function(result){
                loading.close();
                if(result.success)
                    $.dialog.succeedTips('Delete successfully!',function(){location.href=location.href});
                else
                    $.dialog.errorTips('Delete failed'+result.msg);
            });
        });
    }

</script>