@{
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";
    ViewBag.Title = "Details of Refunds & Exchange";
}
@using Himall.Core;
@using Himall.Model;
@model  Himall.Model.OrderRefundInfo

@{
    //是否弃货
    bool isDiscard = false;
    if (Model.SellerAuditStatus == OrderRefundInfo.OrderRefundAuditStatus.Audited
        && Model.BuyerDeliverDate == null
        && Model.RefundMode != OrderRefundInfo.OrderRefundMode.OrderRefund
        && Model.IsReturn == true
        )
    {
        isDiscard = true;
    }
    //是否拒绝
    bool isUnAudit = (Model.SellerAuditStatus == OrderRefundInfo.OrderRefundAuditStatus.UnAudit);
    //是否退货
    bool isReturnGoods = (Model.RefundMode == OrderRefundInfo.OrderRefundMode.ReturnGoodsRefund);

    int curstep = 1;
    string curshowcls = "todo";
}

<div class="box1 lh24">
    <div class="title bot-border">
        <h3 class="title_txt cur">Return Information</h3>
    </div>
    <div class="mod lh24">
        <div class="smt-01">After-Sales Service progress <span class="remind-box">（ServiceID：@Model.Id）</span></div>
        <div class="smc-01">

            <div class="step-list">
                <div class="step-u done">
                    <em>@(curstep)</em>
                    Sellers Apply After-Sales
                    <span class="tail tail2"></span>
                    <span class="tail"></span>
                </div>
                @{
                    curstep++;
                    curshowcls = "done";
                    if (Model.SellerAuditStatus == OrderRefundInfo.OrderRefundAuditStatus.WaitAudit)
                    {
                        curshowcls = "active";
                    }
                }
                <div class="step-u @(curshowcls)">
                    <em>@(curstep)</em>
                    Sellers Dealing with
                    <span class="tail tail2"></span>
                    <span class="tail"></span>
                </div>
                @if (isUnAudit)
                {
                    curstep++;
                    <div class="step-u  done">
                        <em>@(curstep)</em>
                        Merchant refusal
                    </div>
                }
                @if (Model.SellerAuditStatus == OrderRefundInfo.OrderRefundAuditStatus.Audited && isDiscard)
                {
                    curstep++;
                    <div class="step-u  done">
                        <em>@(curstep)</em>
                        Sellers give up product
                        <span class="tail tail2"></span>
                        <span class="tail"></span>
                    </div>
                }
                @if (isReturnGoods && !isDiscard && !isUnAudit)
                {
                    curstep ++;
                    {
                        curshowcls = "todo";
                        if ((int)Model.SellerAuditStatus > (int)OrderRefundInfo.OrderRefundAuditStatus.WaitDelivery && !isDiscard
                        && !isUnAudit)
                        {
                            curshowcls = "done";
                        }
                        if (curshowcls == "todo" && Model.SellerAuditStatus == OrderRefundInfo.OrderRefundAuditStatus.WaitDelivery)
                        {
                            curshowcls = "active";
                        }
                    }
                    <div class="step-u  @(curshowcls)">
                        <em>@(curstep)</em>
                        Customer Return Products
                        <span class="tail tail2"></span>
                        <span class="tail"></span>
                    </div>
                }
                @if (isReturnGoods && !isDiscard && !isUnAudit)
                {
                    {
                        curstep++;
                        curshowcls = "todo";
                        if ((int)Model.SellerAuditStatus > (int)OrderRefundInfo.OrderRefundAuditStatus.WaitReceiving && !isDiscard
                        && Model.SellerAuditStatus != OrderRefundInfo.OrderRefundAuditStatus.UnAudit)
                        {
                            curshowcls = "done";
                        }
                        if (curshowcls == "todo" && Model.SellerAuditStatus == OrderRefundInfo.OrderRefundAuditStatus.WaitReceiving)
                        {
                            curshowcls = "active";
                        }
                    }
                    <div class="step-u @(curshowcls)">
                        <em>@(curstep)</em>
                        Sellers confirm received
                        <span class="tail tail2"></span>
                        <span class="tail"></span>
                    </div>
                }
                @{
                    curstep++;
                    curshowcls = (Model.ManagerConfirmStatus == Himall.Model.OrderRefundInfo.OrderRefundConfirmStatus.Confirmed ? "done" : "todo");
                    if (Model.SellerAuditStatus == OrderRefundInfo.OrderRefundAuditStatus.Audited && curshowcls == "todo")
                    {
                        curshowcls = "active";
                    }
                }
                @if (!isUnAudit)
                {
                    <div class="step-u  @(curshowcls)">
                        <em>@(curstep)</em>
                        Administration Refunded
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="mod lh24">
        <h3 class="sub-title">Service Information</h3>
        <div class="border-box" style=" border-top:1px solid #e4e4e4;">
            <table class="tb-void tb-cols">
                <colgroup>
                    <col width="160px" />
                    <col />
                </colgroup>
                <tbody>
                    <tr class="tr-td">
                        <td>Refund Amount</td>
                        <td class="ftx-04">@Model.Amount</td>
                    </tr>
                    @if (Model.IsReturn)
                    {
                        <tr class="tr-td">
                            <td>Return Quantity</td>
                            <td>@Model.OrderItemInfo.ReturnQuantity</td>
                        </tr>
                    }
                    <tr class="tr-td">
                        <td>Refund Type</td>
                        <td>@(Model.RefundPayType==null?"offline deal":Model.RefundPayType.ToDescription())</td>
                    </tr>
                    <tr class="tr-td">
                        <td>Refudn Reason</td>
                        <td>@Model.Reason.Replace("&nbsp;"," ")</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="refund-remark mt20">
        <h5><b>Progress:</b></h5>
    </div>

    <div class="mod lh24">
        <div class="border-box">
            <table class="tb-void tb-back">
                <colgroup>
                    <col width="150" />
                    <col width="400" />
                    <col width="120" />
                    <col width="160" />
                </colgroup>
                <thead>
                    <tr class="tr">
                        <th>Deal Date</th>
                        <th>Deal Information</th>
                        <th>Operator</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        bool isFirstShow = true;
                    }
                    @if (Model.SellerAuditStatus == Himall.Model.OrderRefundInfo.OrderRefundAuditStatus.Audited)
                    {
                        <tr class="tr-td @(isFirstShow ? "tr-result" : "")">
                            <td><span>@Model.ManagerConfirmDate</span></td>
                            <td>@Model.ManagerConfirmStatus.ToDescription()</td>
                            <td><span>Administration</span></td>
                            <td>@(Model.ManagerRemark)</td>
                        </tr>
                        isFirstShow = false;
                    }
                    @if (Model.SellerConfirmArrivalDate != null
                            && (int)Model.SellerAuditStatus > (int)OrderRefundInfo.OrderRefundAuditStatus.WaitReceiving
                            )
                    {
                        <tr class="tr-td @(isFirstShow ? "tr-result" : "")">
                            <td><span>@Model.SellerConfirmArrivalDate</span></td>
                            <td>Sellers Confirm Received</td>
                            <td><span>Sellers</span></td>
                            <td>&nbsp;</td>
                        </tr>
                        isFirstShow = false;
                    }
                    @if (Model.BuyerDeliverDate != null
                            && (int)Model.SellerAuditStatus > (int)OrderRefundInfo.OrderRefundAuditStatus.WaitDelivery
                            )
                    {
                        <tr class="tr-td @(isFirstShow ? "tr-result" : "")">
                            <td><span>@Model.BuyerDeliverDate</span></td>
                            <td>Customers return product</td>
                            <td><span>Customers</span></td>
                            <td>
                                @(Model.ExpressCompanyName)
                                <br />
                                @(Model.ShipOrderNumber)
                            </td>
                        </tr>
                        isFirstShow = false;
                    }
                    @if (Model.SellerAuditStatus != OrderRefundInfo.OrderRefundAuditStatus.WaitAudit)
                    {
                        <tr class="tr-td @(isFirstShow ? "tr-result" : "")">
                            <td><span>@Model.SellerAuditDate</span></td>
                            <td>
                                @if (Model.SellerAuditStatus == OrderRefundInfo.OrderRefundAuditStatus.UnAudit)
                                {
                                    @(Model.SellerAuditStatus.ToDescription())
                                }
                                else
                                {
                                    @("Sellers agree refund") @(isDiscard ? " and give up product" : "")
                                }
                            </td>
                            <td><span>Sellers</span></td>
                            <td>@(Model.SellerRemark)</td>
                        </tr>
                                isFirstShow = false;
                    }
                    <tr class="tr-td @(isFirstShow ? "tr-result" : "")">
                        <td><span>@Model.ApplyDate</span></td>
                        <td>Your service application commit success, please wait seller deal with</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>



            </table>
        </div>
    </div>

</div>
