@{
    Layout = "~/Areas/Web/Views/Shared/_UserCenter.cshtml";
    ViewBag.Title = "Refund & Exchange list";
    int? showtype = (int?)ViewBag.ShowType;
}
@model  IEnumerable<Himall.Model.OrderRefundInfo>
@using Himall.Core;
@using Himall.Model;

<div class="box1 lh24">
    <div class="title">
        <span class="title_txt @((showtype != 3) ? "curr" : "")"><a href="@Url.Action("List", new { showtype=2 })">My Refunds List</a></span>
        <span class="title_txt @(showtype == 3 ? "curr" : "")"><a href="@Url.Action("List", new { showtype = 3 })">My Returns List</a></span>
        <span class="title_txt"><a href="@Url.Action("Index")">Apply After-Sales</a></span>
    </div>
    <div class="border-box">
        <table class="tb-void tb-back">
            <colgroup>
                <col width="80" />
                <col width="120" />
                <col width="250" />
                <col width="120" />
                <col width="90" />
                <col width="100" />
            </colgroup>
            <thead>
                <tr class="tr">
                    <th>ID</th>
                    <th>OrderId</th>
                    <th>Produt(s)</th>
                    <th>
                        <select class="sele" id="submitDate" onchange="Query()">
                            <option value="all">Apply Date</option>
                            <option value="threeMonth">Recent 3 months</option>
                            <option value="threeMonthAgo">3 months+</option>
                        </select>
                    </th>
                    <th>
                        <select class="sele" id="status" onchange="Query()">
                            <option value="">Audit Status</option>
                            @foreach (var d in Himall.Core.EnumHelper.ToDescriptionDictionary<Himall.Model.OrderRefundInfo.OrderRefundAuditStatus>())
                            {
                                if (d.Value != Himall.Model.OrderRefundInfo.OrderRefundAuditStatus.Audited.ToDescription())
                                { 
                                <option value="@d.Key">@d.Value</option>
                            }
                            }
                            @foreach (var d in Himall.Core.EnumHelper.ToDescriptionDictionary<Himall.Model.OrderRefundInfo.OrderRefundConfirmStatus>())
                            {
                                <option value="@d.Key">@d.Value</option>
                            }
                        </select>
                    </th>
                    <th>Operator</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr><td colspan="4"><div class="empty"><b></b>No Records！</div></td></tr>
                }
                @foreach (var m in Model)
                {
                    <tr class="tr-td">
                        <td><span class="col-blue">@m.Id</span></td>
                        <td><span class="col-blue">@m.OrderId @if (m.UserId != ViewBag.UserId)
                        { <span>[sub-orders]</span>}</span></td>
                        <td class="goods-name">                         
                        @if (m.RefundMode == OrderRefundInfo.OrderRefundMode.OrderRefund)
                        {
                            @("Order Products")
                        }
                        else {
                            var spc = "";
                            if (!string.IsNullOrWhiteSpace(m.OrderItemInfo.Color)) { spc += "Color：" + m.OrderItemInfo.Color; }
                            if (!string.IsNullOrWhiteSpace(m.OrderItemInfo.Size)) { spc += "，Size：" + m.OrderItemInfo.Size; }
                            if (!string.IsNullOrWhiteSpace(m.OrderItemInfo.Version)) { spc += "，Specification：" + m.OrderItemInfo.Version; }
                            spc = spc.TrimStart('，');
                            spc = string.IsNullOrWhiteSpace(spc) ? "" : "【" + spc + "】";
                        <a target="_blank" href="@Url.Action("Detail", "product", new { id=@m.OrderItemInfo.ProductId})">
                            <img width="50" height="50" title="" src="@m.OrderItemInfo.ThumbnailsUrl">@m.OrderItemInfo.ProductName @spc</a>
                        }
                        </td>
                        <td>@m.ApplyDate</td>
                        @if (@m.SellerAuditStatus == OrderRefundInfo.OrderRefundAuditStatus.Audited)
                        {
                            <td>@m.ManagerConfirmStatus.ToDescription()</td>
                        }
                        else
                        {
                            <td>@m.SellerAuditStatus.ToDescription()</td>
                        }
                        <td class="operate">
                            <a href="@Url.Action("Detail", new { id=@m.Id})">View</a>
                            @if (@m.SellerAuditStatus == Himall.Model.OrderRefundInfo.OrderRefundAuditStatus.WaitDelivery)
                            {
                                <a class="back-goods-btn" datashop="@m.ShopId" dataid="@m.Id">Please Return Products</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="mt10">
			<div id="pagin-btm" class="pagin fr" style="clear:both">
				@{
					var count = ((PagingInfo)ViewBag.pageInfo).TotalPages;
					var curr = ((PagingInfo)ViewBag.pageInfo).CurrentPage;
				}
				@Html.PageLinks((PagingInfo)ViewBag.pageInfo, x => Url.Action("List", new { pageNo = x }))
                <span class="page-skip">
                    <em>&nbsp;&nbsp;Pages of @count</em>
                </span>
			</div>
			<div class="clr"></div>
		</div>
    </div>
    
    
</div>
<script>
    function Query() {
        var applyDate = $("#submitDate").val();
        var auditStatus = $("#status").val();
        window.location.href = "?showtype=@(showtype)&applyDate=" + applyDate + "&auditStatus=" + auditStatus;
    }
    $(function () {
        var auditStatus = "@Request.QueryString["auditStatus"]";
        var applyDate = "@Request.QueryString["applyDate"]";
        if (applyDate != "" && applyDate != null)
            $("#submitDate").val(applyDate);
        if (auditStatus != "" && auditStatus != null)
            $("#status").val(auditStatus);
    });
</script>
<script type="text/javascript">
    var curentId;
    $(function () {
        $('.back-goods-btn').click(function () {
            var shopId=$(this).attr("dataShop");
             curentId = $(this).attr("dataId");
            $.dialog({
                title: 'Please return products',
                lock: true,
                id: 'BackForm',
                content: $('#backform')[0],
                init:function(){
                    $.ajax({
                        type: 'get',
                        async: false,
                        url: "./GetShopInfo?shopId=" + shopId,
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            $("#SellerAddress").text(d.SenderAddress);
                            $("#SellerName").text(d.SenderName);
                            $("#SellerPhone").text(d.SenderPhone);
                        }
                    });
                },
                padding: '20px 30px 20px 0',
                okVal: 'Confirm Returns',
                ok: function () {
                    UpdateRefund();
                }
            });
        });

    });

    function UpdateRefund() {
        var expressCompanyName = $("#ExpressCompanyName").val();
        var shipOrderNumber = $("#ShipOrderNumber").val();
        if (expressCompanyName == "" || shipOrderNumber == "") {
            $.dialog.errorTips("Please enter  waybill！", '',1);
        }
        var loading = showLoading();
        $.ajax({
            type: 'post',
            async: false,
            url: "./UpdateRefund",
            dataType: 'json',
            data: { id: curentId, expressCompanyName: expressCompanyName, shipOrderNumber: shipOrderNumber },
            success: function (d) {
                loading.close();
                if (d.success) {
                    $.dialog.succeedTips("submit success！", function () {
                        window.location.href = window.location.href;
                    }, 1);
                }
                else {
                    $.dialog.errorTips("subit error," + d.msg, '', 2);
                }
            }
        });
    }
</script>


<div id="backform" style="display: none;">
    <div class="form">
        <div class="form">
            @*<div class="item">
        <span class="label p0">地址：</span>
        <div class="fl" id="SellerAddress"></div>
        <div class="clr"></div>
    </div>
    <div class="item">
        <span class="label p0">联系人：</span>
        <div class="fl" id="SellerName"></div>
        <div class="clr"></div>
    </div>
    <div class="item">
        <span class="label p0">联系电话：</span>
        <div class="fl" id="SellerPhone"></div>
        <div class="clr"></div>
    </div>*@
            <div class="item">
                <span class="label">Express Company：</span>
                <div class="fl">
                    <input type="text" id="ExpressCompanyName" name="ExpressCompanyName" class="text" value="" />
                    <span class="error-msg hide">Please enter express companyname</span>
                </div>
                <div class="clr"></div>
            </div>
            <div class="item">
                <span class="label">Waybill：</span>
                <div class="fl">
                    <input type="text" class="text" id="ShipOrderNumber" name="ShipOrderNumber" value="" />
                    <span class="error-msg hide">Please enter waybill</span>
                </div>
                <div class="clr"></div>
            </div>
        </div>

</div>



<div class="thickdiv hide"></div>
<div class="thickbox hide">
    <div class="thickwrap">
        <div class="thicktitle">
            <span>Please return products</span>
        </div>
        <div style="width: 400px; padding-left: 10px; padding-right: 10px;" class="thickcon">
            <div id="">
                <div id="edit-cont">
                    <div class="mc">
                        

                            <div class="btns">
                                <a id="id_add_order" class="e-btn btn-9 save-btn" onclick="UpdateRefund()">Confirm Returns</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="" class="thickclose" href="javascript:void(0);">×</a>
    </div>
</div>
