@{
    ViewBag.Title = "Order Payment";
    Layout = "~/Areas/Web/Views/Shared/_PayTopBar.cshtml";
    var orders = (IEnumerable<Himall.Model.OrderInfo>)ViewBag.Orders;
}
@model IEnumerable<Himall.Web.Areas.Web.Models.PaymentModel>
<div class="w990 main">
    <div class="m mainbody">
        <div class="mc">
            <s class="icon-succ04"></s>
            <h3 class="orderinfo">Order submitted successfully, please pay it asap!</h3>
            <ul class="list-orderinfo">
                @foreach (var order in orders)
                {
                    <li>Orider Id：@order.Id</li>
                }
                <li class="li-last">Total：<strong class="ftx-01" id="totalAmount">@(((decimal)ViewBag.TotalAmount).ToString("F2"))</strong> 元</li>
            </ul>
            <p class="mb-tip">Please pay it within <span class="ftx-04">@(ViewBag.UnpaidTimeout) hours</span>, otherwise it will be automatically cancelled.</p>
        </div>
    </div>
    <div class="m pay-box">
        <div class="mc">
            <h5 class="subtit">Pay it with balance</h5>
            <label>
                <input type="radio" class="jdradio" value="" name="requestUrl" urltype="-1" id="" />
                <span>Available balance:<span id="capitalAmount"> @(ViewBag.Capital)</span></span>
                <a id="btnCharge" href="/userCenter?url=/usercapital/capitalcharge&tar=usercapital">Recharge</a>
            </label>
        </div>
    </div>
    <div class="m pay-box">
        <div class="mc">
            <h5 class="subtit">Please Select Payment Method</h5>
            <ul class="list-bank">
              
                    <li id="pp_show">
                        <label>
                            <input type="radio" class="jdradio" value="" name="requestUrl" id="" urltype="2" />
                            <img title="paypal" width="165" height="48" alt="paypal" src="~/Areas/Web/Images/logo_paypal.png" style="border: 1px solid #CCC;" />
                        </label>
                    </li>
                </ul>

        </div>
    </div>
     <div class="btns"><a class="btn-next" href="javascript:;" id="nextBtn">Next</a></div>
</div>


<input type="hidden" id="orderIds" value="@ViewBag.OrderIds" />
<input type="hidden" id="payid" value="@ViewBag.PayId" />
<script>
    $(function () {
        $('.progress-').hide();
        var orderIds = $('#orderIds').val();
        $('input[name="requestUrl"]').change(function () {
            var url = $(this).val();
            if ($(this).attr('urlType') != '-1') {
                $('#nextBtn').attr('urlType', $(this).attr('urlType'));
                $('#nextBtn').attr('formdata', url);
                //$('#nextBtn').removeAttr('href');
                //$('#nextBtn').removeAttr('target');
            }
            else {
                $('#nextBtn').attr('urlType', $(this).attr('urlType'));
                $('#nextBtn').removeAttr('href');
            }
        });

        $('#nextBtn').click(function () {
            var t = $("input[name='requestUrl']:checked").val();
            if (t == undefined) {
                $.dialog.tips('Please select payment method！');
                return;
            }
         

            if ($(this).attr('urlType') == "-1") {
                if (parseFloat($('#capitalAmount').text()) < parseFloat($('#totalAmount').text())) {
                    $.dialog.alert('Available balance less than Total Order Money');
                    return false;
                }

                $.ajax({
                    type: 'post',
                    url: 'GetPayPwd',
                    async: false,
                    dataType: 'json',
                    success: function (result) {
                        if (!result.success)
                        {
                            window.top.open('/userCenter?url=/usercapital/setpaypwd&tar=setpaypwd', '_blank');
                        }
                    }
                });
                $.dialog({
                    title: 'Confirm Payment',
                    lock: true,
                    id: 'goodCheck',
                    content: ['<div class="dialog-form">',
                        '<div class="form-group">',
                           '<div class="item">\
                                 <span class="label">Payment Password：</span>\
                                    <div class="">\
                                    <input type="password" value="" id="payPwd" name="userVo.realName" maxlength="20" class="itxt fl">\
                            </div>\
                            </div>',
                        '</div>',
                    '</div>'].join(''),
                    padding: '10px',
                    init: function () { $("#auditMsgBox").focus(); },
                    button: [
                    {
                        name: 'Payment',
                        callback: function () {
                            if ($("#payPwd").val().length == 0) {
                                $.dialog.alert("Confirm Payment password");
                                return false;
                            }
                            $.post('PayByCapital', { orderIds: $('#orderIds').val(), pwd: $('#payPwd').val(), payid: $('#payid').val() }, function (result) {
                                if (result.success) {
                                    $.dialog.succeedTips(result.msg, function () {
                                        
                                        location.href = "/userCenter?url=/userorder&tar=userorder";
                                    });
                                }
                                else {
                                    $.dialog.alert(result.msg);
                                    return false;
                                }
                            });
                        },
                        focus: true
                    },
                    {
                        name: 'Cancel',
                        callback: function () { }
                    }]
                });
            }
            else if ($(this).attr('urlType') == "2") {
                //paypal
                var totalmon = parseFloat($('#totalAmount').text());
                openBlank('https://www.paypal.com/cgi-bin/webscr', {
                    cmd: "_xclick",
                    business: "fangmsen@sina.com",
                    item_name: orderIds,
                    amount: totalmon,
                    notify_url: "/Pay/Return?orderid=" + orderIds + "&price=" + totalmon + "&paytype=0&type=webzf&iplm=2",
                    currency_code: "USD"
                }, true);
            }
        });

    });
    function BuildPostForm(fm, url, target) {
        var e = null, el = [];
        if (!fm || !url)
            return e;
        target = target || '_blank';
        e = document.getElementById(fm);
        if (!e) {
            e = document.createElement('Form');
            e.Id = fm;
            document.body.appendChild(e);
        }

        e.method = 'post';
        e.target = target;
        e.style.display = 'none';
        e.enctype = 'application/x-www-form-urlencoded';

        var idx = url.indexOf('?');
        var para = [], op = [];
        if (idx > 0) {
            para = url.substring(idx + 1, url.length).split('&');
            url = url.substr(0, idx);//截取URL
            var keypair = [];
            for (var p=0 ; p < para.length; p++) {
                idx = para[p].indexOf('=');
                if (idx > 0) {
                    el.push('<input type="hidden" name="' + para[p].substr(0, idx) + '" id="frm' + para[p].substr(0, idx) + '" value="' + para[p].substring(idx + 1, para[p].length) + '" />');
                }
            }
        }

        e.innerHTML = el.join('');
        e.action = url;
        return e;
    };

    function openBlank(action, data, n) {
        var form = $("<form/>").attr('action', action).attr('method', 'post');
        if (n)
            var input = '';
        $.each(data, function (i, n) {
            input += '<input type="hidden" name="' + i + '" value="' + n + '" />';
        });
        form.append(input).appendTo("body").css('display', 'none').submit();
    }

</script>