@{
    ViewBag.Title = "Order Payment";
    Layout = "~/Areas/Web/Views/Shared/_PayTopBar.cshtml";
    var orders = (IEnumerable<Himall.Model.OrderInfo>)ViewBag.Orders;
}
@model IEnumerable<Himall.Web.Areas.Web.Models.PaymentModel>
<div class="w990 main">
    <div class="m mainbody">
        <div class="mc">
            <s class="icon-succ04"></s>
            <h3 class="orderinfo">Order submitted successfully, please pay it asap!</h3>
            <ul class="list-orderinfo">
                @foreach (var order in orders)
                {
                    <li>Orider Id：@order.Id</li>
                }
                <li class="li-last">Total：<strong class="ftx-01" id="totalAmount">@(((decimal)ViewBag.TotalAmount).ToString("F2"))</strong> 元</li>
            </ul>
            <p class="mb-tip">Please pay it within <span class="ftx-04">@(ViewBag.UnpaidTimeout) hours</span>, otherwise it will be automatically cancelled.</p>
        </div>
    </div>
    <div class="m pay-box">
        <div class="mc">
            <h5 class="subtit">Pay it with balance</h5>
            <label>
                <input type="radio" class="jdradio" value="" name="requestUrl" urltype="-1" id="" />
                <span>Available balance:<span id="capitalAmount"> @(ViewBag.Capital)</span></span>
                <a id="btnCharge" href="/userCenter?url=/usercapital/capitalcharge&tar=usercapital">Recharge</a>
            </label>
        </div>
    </div>
    <div class="m pay-box">
        <div class="mc">
            <h5 class="subtit">Please Select Payment Method</h5>
            <ul class="list-bank">
                @{var i = 0;}
                @foreach (var payment in Model)
                {
                    <li>
                        <label>
                            <input type="radio" class="jdradio" value="@payment.RequestUrl" name="requestUrl" id="@payment.Id" urlType="@((int)payment.UrlType)" />
                            <img width="165" height="48" alt="WeiXinPC" src="@payment.Logo" />
                        </label>
                    </li>
                }
            </ul>

        </div>
    </div>
     <div class="btns"><a class="btn-next" href="javascript:;" id="nextBtn">Next</a></div>
</div>


<input type="hidden" id="orderIds" value="@ViewBag.OrderIds" />
<input type="hidden" id="payid" value="@ViewBag.PayId" />
<script>
    $(function () {
        $('.progress-').hide();
        var orderIds = $('#orderIds').val();
        $('input[name="requestUrl"]').change(function () {
            var url = $(this).val();
            if ($(this).attr('urlType') != '-1') {
                if ($(this).attr('urlType') == "1")
                    url = '/pay/QRPay?url=' + url + '&id=' + $(this).attr('id') + '&orderIds=' + orderIds;

                $('#nextBtn').attr('urlType', $(this).attr('urlType'));
                $('#nextBtn').attr('formdata', url);

                $('#nextBtn').removeAttr('href');
                $('#nextBtn').removeAttr('target');
                if ($(this).attr('urlType') != "2") {
                    $('#nextBtn').attr('href', url);
                    $('#nextBtn').attr('target', "_blank");
                }
            }
            else {
                $('#nextBtn').attr('urlType', $(this).attr('urlType'));
                $('#nextBtn').removeAttr('href');
            }
        });

        $('#nextBtn').click(function () {
            var t = $("input[name='requestUrl']:checked").val();
     
            if (t == undefined) {
                $.dialog.tips('Please select payment method！');
                return;
            }
            if ($(this).attr('urlType') == "2") {
                var url = $(this).attr('formdata');
                BuildPostForm('pay_form', url, '_blank').submit();
            }

            if ($(this).attr('urlType') == "-1") {
                if (parseFloat($('#capitalAmount').text()) < parseFloat($('#totalAmount').text())) {
                    $.dialog.alert('Available balance less than Total Order Money');
                    return false;
                }

                $.ajax({
                    type: 'post',
                    url: 'GetPayPwd',
                    async: false,
                    dataType: 'json',
                    success: function (result) {
                        if (!result.success)
                        {
                            window.top.open('/userCenter?url=/usercapital/setpaypwd&tar=setpaypwd', '_blank');
                        }
                    }
                });
                $.dialog({
                    title: 'Confirm Payment',
                    lock: true,
                    id: 'goodCheck',
                    content: ['<div class="dialog-form">',
                        '<div class="form-group">',
                           '<div class="item">\
                                 <span class="label">Payment Password：</span>\
                                    <div class="">\
                                    <input type="password" value="" id="payPwd" name="userVo.realName" maxlength="20" class="itxt fl">\
                            </div>\
                            </div>',
                        '</div>',
                    '</div>'].join(''),
                    padding: '10px',
                    init: function () { $("#auditMsgBox").focus(); },
                    button: [
                    {
                        name: 'Payment',
                        callback: function () {
                            if ($("#payPwd").val().length == 0) {
                                $.dialog.alert("Confirm Payment password");
                                return false;
                            }
                            $.post('PayByCapital', { orderIds: $('#orderIds').val(), pwd: $('#payPwd').val(), payid: $('#payid').val() }, function (result) {
                                if (result.success) {
                                    $.dialog.succeedTips(result.msg, function () {
                                        
                                        location.href = "/userCenter?url=/userorder&tar=userorder";
                                    });
                                }
                                else {
                                    $.dialog.alert(result.msg);
                                    return false;
                                }
                            });
                        },
                        focus: true
                    },
                    {
                        name: 'Cancel',
                        callback: function () { }
                    }]
                });
            }
            else {
                if ($(this).attr('href') != 'javascript:;' || $(this).attr('urlType') == "2") {
                    $.dialog({
                        title: 'Redirect Payment Page',
                        lock: true,
                        content: '<p>please don\'t close the window before completion of payment</p>',
                        padding: '30px 20px',
                        button: [
                        {
                            name: 'Payment Completed',
                            callback: function () {
                                location.href = '/userCenter?url=/userorder?orderids=@ViewBag.OrderIds&tar=userorder';
                            }
                        },
                        {
                            name: 'Payment Error',
                            callback: function () { }
                        }]
                    });
                }
            }

        });

    });
    function BuildPostForm(fm, url, target) {
        var e = null, el = [];
        if (!fm || !url)
            return e;
        target = target || '_blank';
        e = document.getElementById(fm);
        if (!e) {
            e = document.createElement('Form');
            e.Id = fm;
            document.body.appendChild(e);
        }

        e.method = 'post';
        e.target = target;
        e.style.display = 'none';
        e.enctype = 'application/x-www-form-urlencoded';

        var idx = url.indexOf('?');
        var para = [], op = [];
        if (idx > 0) {
            para = url.substring(idx + 1, url.length).split('&');
            url = url.substr(0, idx);//截取URL
            var keypair = [];
            for (var p=0 ; p < para.length; p++) {
                idx = para[p].indexOf('=');
                if (idx > 0) {
                    el.push('<input type="hidden" name="' + para[p].substr(0, idx) + '" id="frm' + para[p].substr(0, idx) + '" value="' + para[p].substring(idx + 1, para[p].length) + '" />');
                }
            }
        }

        e.innerHTML = el.join('');
        e.action = url;
        return e;
    };
</script>